@charset "utf-8";
::before,::after{margin:0;padding:0;-webkit-tap-highlight-color:transparent;-webkit-box-sizing:border-box;box-sizing:border-box}
body{font-size:14px;color:#efeff4;margin:0 auto;padding:0}
a{color:#333;text-decoration:none}
a:hover{text-decoration:none}
ul,ol{list-style:none}
.clearfix::before,.clearfix::after{content:"";height:0;line-height:0;display:block;visibility:hidden;clear:both}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
.pd_lr{padding:0 0.75rem}
.bg_color{background:#fff}
*{margin:0;padding:0}
.clearBoth{clear:both;width:100%;height:0px;font-size:0;overflow:hidden;line-height:0}