.shoucangshangpin_1{height:2.2rem;background-color:#3facf6;position:relative;text-align:center;line-height:2.2rem;font-size:0.8rem;color:#ffffff}
.shoucangshangpin_1_left{width:0.525rem;height:2.2rem;position:absolute;z-index:99;top:0;left:0.5rem;line-height:2.2rem}
.shoucangshangpin_1_left img{width:100%;vertical-align:middle}
