/*支付页面样式*/
.yudingchenggong_1{
  color: #000;
  margin-top: 4rem;
}
.yudingchenggong_2{
  width: 8rem; 
  height: 3.5rem;
  border-radius: 4rem;
  background: #eee;
  color:#000;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  padding: 2.5rem 0 2rem;
}
.yudingchenggong_2 span{
  color:#e74b3b;
  font-size: 2rem;
}
.yudingchenggong_3 a{
  width: 9.15rem;
    height: 2.025rem;
    display: block;
    text-align: center;
    line-height: 2.025rem;
    background-color: #e74b3b;
    border-radius: 0.325rem;
    font-family: "微软雅黑", "宋体";
    font-size: 0.85rem;
    color: #ffffff;
    margin:0 auto;
    margin-top: 3rem;
}