@charset "utf-8";
body{background-color:#f8f8f8;min-width:1423px;overflow-x:hidden;width:100%}
#top_banner{text-align:center;height:0px;overflow:hidden;}
#top_banner img{vertical-align:top}
#header{height:74px;background-color:#eff4f8;border-bottom:#ececec 1px solid}
#header1{width:1400px;margin:0 auto}
.header_left{width:auto;float:left;height:74px;line-height:74px;font-size:16px;color:#58666e;font-weight:700}
.header_left img{vertical-align:middle;margin-right:10px}
.header_right{width:auto;float:right}
.header_right_01{width:140px;float:left;height:74px;line-height:74px;font-size:14px;color:#424e67;position:relative;cursor:pointer}
.header_right_01 img{vertical-align:middle}
.header_right_01 .header_right_01_touxiang{border:#d7dbdf 2px solid;border-radius:100%;margin-right:10px;width:30px;height:30px;}
.header_right_01_xiangxi{width:auto;position:absolute;z-index:999;top:74px;left:-17px}
.header_right_01_xiangxi_01{width:20px;height:10px;background-image:url(../../images/shouye/jiantou_11.png);background-position:left top;background-repeat:no-repeat;margin-left:20px}
.header_right_01_xiangxi_02{width:298px;border:#ececec 1px solid;border-radius:6px;background-color:#fff;padding-bottom:10px;border-top:none}
.header_right_01_xiangxi_02_1{padding:16px 15px 20px;background-color:#3a8aff;border-radius:6px 6px 0 0}
.header_right_01_xiangxi_02_1_img{width:75px;float:left}
.header_right_01_xiangxi_02_1_img img{border:#3976cb 5px solid;border-radius:100%;width:45px}
.header_right_01_xiangxi_02_1_tt{width:auto;float:left;font-size:14px;color:#fff}
.header_right_01_xiangxi_02_1_tt h2{font-size:15px;color:#fff;line-height:33px}
.header_right_01_xiangxi_02_1_tt h2 b{font-size:15px;color:#fff}
.header_right_01_xiangxi_02_2{padding:18px 24px}
.header_right_01_xiangxi_02_2 span{display:inline-block;width:92px;height:27px;background-color:#f8645c;border-radius:22px;text-align:center;line-height:27px;font-size:14px;color:#fff}
.header_right_01_xiangxi_02_3{padding:0 24px}
.header_right_01_xiangxi_02_3 a{font-size:13px;color:#505b72;line-height:40px;display:block}
.header_right_02{width:84px;float:left;height:74px;line-height:74px;font-size:14px;color:#424e67}
.header_right_02 img{vertical-align:middle}
.header_right_03{width:auto;float:left;height:74px;line-height:74px;color:#424e67}
.header_right_03 a{font-size:14px;color:#424e67;padding:0 14px}
#foot{height:50px;background-color:#ececec}
#foot1{width:1400px;margin:0 auto;text-align:center;line-height:50px;font-size:12px;color:#999}
#cont{padding:38px 0;width:1400px;margin:0 auto;padding-bottom:10px;}
.cont_up{padding-bottom:10px}
.cont_up_left{width:538px;float:left}
.daibanshixiang{margin-bottom:18px;height:384px;border:#ececec 1px solid;background-color:#fff;border-radius:5px}
.daibanshixiang_up{height:47px;background-color:#eff4f8;border-radius:5px 5px 0 0;padding-left:28px;line-height:47px;font-size:16px;color:#333}
.daibanshixiang_down{padding:10px 20px;height:317px;overflow-y:auto;overflow-x:hidden}
.daibanshixiang_down ul li{height:38px;line-height:38px;font-size:14px;color:#989898}
.daibanshixiang_down ul li span{color:#fb560a;width:84px;display:inline-block}
.daibanshixiang_down ul li .daibanshixiang_down_01{color:#989898}
.qiyexinxi{height:284px;background-color:#fff;border:#ececec 1px solid;border-radius:7px}
.qiyexinxi_left{width:245px;float:left;padding-left:27px;padding-top:15px}
.qiyexinxi_left_1{padding-bottom:20px;height:109px}
.qiyexinxi_left_1_left{width:109px;float:left}
.qiyexinxi_left_1_right{width:118px;float:right;padding-top:37px;text-align:right;font-size:14px;color:#989898}
.qiyexinxi_left_1_right span{font-size:14px;color:#3a8aff;text-decoration:underline}
.qiyexinxi_left_2{width:100%}
.qiyexinxi_left_2_01{height:25px;font-size:14px;color:#58666e}
.qiyexinxi_left_2_02{width:243px;height:13px;border:#dcdcdc 1px solid;border-radius:10px}
.qiyexinxi_left_2_02 span{display:inline-block;background-image:url(../../images/shouye/biao_11.gif);background-position:left top;background-repeat:no-repeat;width:80%;height:13px;vertical-align:top;border-radius:10px 0 0 10px}
.qiyexinxi_left_2_03{padding-top:10px}
.qiyexinxi_left_2_03_left{width:auto;float:left;font-size:14px;color:#989898}
.qiyexinxi_left_2_03_right{width:auto;float:right}
.qiyexinxi_left_2_03_right a,.qiyexinxi_left_1_right a{font-size:14px;color:#3a8aff;text-decoration:underline}
.qiyexinxi_right{width:220px;float:right;padding-top:30px}
.qiyexinxi_right_01{height:46px;font-size:16px;color:#333}
.qiyexinxi_right_02{height:70px}
.qiyexinxi_right_02 ul li{float:left;margin-right:8px}
.qiyexinxi_right_02 ul li img{vertical-align:top}
.qiyexinxi_right_03{height:53px}
.qiyexinxi_right_03 a{width:120px;height:32px;display:inline-block;background-color:#38adff;border:#1095f2 1px solid;border-radius:5px;text-align:center;line-height:32px;font-size:16px;color:#fff}
.qiyexinxi_right_04{font-size:12px;color:#424e67}
.cont_up_right{width:855px;float:right}
.cont_up_right ul li{float:left;width:275px;height:470px;margin-left:10px;position:relative;overflow:hidden;margin-bottom:18px}
.cont_up_right_bj1{width:275px;height:286px;position:absolute;z-index:9;top:0;left:0}
.cont_up_right_biaoti a:hover{color:#3a8aff}
.cont_up_right_fenlei a{font-size:14px;color:#989898;padding-left:21px;white-space:nowrap;}
.cont_up_right_fenlei a:hover{color:#000}
.cont_up_right_kaitong{width:66px;height:72px;position:absolute;z-index:9;top:0;right:0}
.cont_up_right_fenlei1{width:100%;position:absolute;z-index:9;top:183px;line-height:30px;text-align:center;font-size:14px;color:#989898}
.cont_down{width:100%}
.cont_down_1{height:30px;border-bottom:#ebebeb 1px solid;padding-left:20px;font-size:16px;color:#333}
.cont_down_2{padding-top:37px}
.cont_down_2 ul li{float:left;width:20%}
.cont_down_2 ul li a{display:inline-block;text-align:center;font-size:12px;color:#a5a5a5;line-height:23px}
.cont_down_2 ul li a img{vertical-align:top;margin-bottom:10px}
.cont_down_2 ul li a b{font-size:14px;color:#333}
.qiyexinxi_right_02_jieshao{position:absolute;z-index:999;top:0;left:0}
.qiyexinxi_right_02_biao{width:10px;height:5px;background-image:url(../../images/shouye/jiantou_1.png);background-position:left top;background-repeat:no-repeat;margin-left:30px}
.qiyexinxi_right_02_jieshao1{padding:0 10px;height:27px;background-color:rgba(0,0,0,.62);font-size:12px;color:#fff}
.yuangongxinxi{height:230px;background-color:#fff;border:#ececec 1px solid;border-radius:7px;margin-bottom:20px}
.yuangongxinxi_up{padding:27px 24px 0;height:128px}
.yuangongxinxi_up_img{width:150px;float:left;cursor:pointer;position:relative}
.yuangongxinxi_up_img img{vertical-align:middle;margin-right:10px}
.yuangongxinxi_up_img .yuangongxinxi_up_img_01{border:#e5e5e5 3px solid;border-radius:100%;width:79px;height:79px;}
.yuangongxinxi_up_img_xx{position:absolute;z-index:99;top:90px;left:-11px}
.yuangongxinxi_up_img_xx1{width:20px;height:10px;background-image:url(../../images/shouye/jiantou_11.png);background-position:left top;background-repeat:no-repeat;margin-left:30px}
.yuangongxinxi_up_img_xx2{width:252px;height:80px;border:#1095f2 1px solid;border-radius:9px;background-color:#38adff;padding:16px 24px 0;color:#fff}
.yuangongxinxi_up_img_xx2 h2{font-size:14px;color:#fff;padding-left:10px;padding-bottom:10px}
.yuangongxinxi_up_img_xx2 a{font-size:14px;color:#fff;padding:0 10px}
.yuangongxinxi_up_tt{width:320px;float:left}
.yuangongxinxi_up_tt_up{height:48px;font-size:14px;color:#989898;line-height:32px}
.yuangongxinxi_up_tt_up b{font-size:18px;color:#000}
.yuangongxinxi_up_tt_up img{vertical-align:middle;margin-left:20px}
.yuangongxinxi_up_tt_down{line-height:30px;font-size:14px;color:#989898}
.yuangongxinxi_up_tt_down span{color:#000;padding-right:10px}
.yuangongxinxi_down{padding-left:24px}
.yuangongxinxi_down input{width:438px;height:43px;border:#e5e5e5 1px solid;border-radius:7px;padding-left:10px;line-height:43px;font-size:14px;color:#989898;outline:0}
.openIcon{cursor:pointer;transition:.2s}
.openIcon.on{-webkit-transform: rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.circleProgress_wrapper{width:108px;height:108px;position:relative;margin:auto;}
.wrapper{width:54px;height:108px;position:absolute;top:0;overflow:hidden}
.circleProgress_desc{position:absolute;left:0px;width:108px;text-align:center;padding-top:35px;line-height:20px;color:#333;font-size:14px;font-weight:bold;}
#ewmimg{position:absolute;top:20px;right:0px;z-index:10;display:none;}
.qysz_renzhengtc{position:fixed;z-index:999;top:30%;left:50%;margin-left:-354px;background-image:url(../../images/shouye/qiyeshezhi_46.png);background-position:left top;background-repeat:no-repeat;width:708px;height:358px}
.qysz_renzhengtc_left{width:220px;float:left;padding-top:53px}
.qysz_renzhengtc_left_1{padding-bottom:25px;text-align:center;font-size:14px;color:#fff}
.qysz_renzhengtc_left_1 h2{font-size:16px;color:#fff;font-weight:700;padding-bottom:12px}
.qysz_renzhengtc_left_1 img{vertical-align:top;margin-bottom:15px}
.qysz_renzhengtc_left_2{text-align:center}
.qysz_renzhengtc_left_2 ul li{display:inline-block;margin:0 2px}
.qysz_renzhengtc_left_2 ul li a{font-size:12px;color:#fff}
.qysz_renzhengtc_left_2 ul li a img{vertical-align:top;margin-bottom:5px}
.qysz_renzhengtc_right{width:460px;float:left;padding-top:20px}
.qysz_renzhengtc_right_01{height:69px;text-align:right}
.qysz_renzhengtc_right_02{height:179px;text-align:center;font-size:18px;color:#000}
.qysz_renzhengtc_right_02 h2{font-size:20px;color:#000;font-weight:700;padding-bottom:20px}
.qysz_renzhengtc_right_03{padding-top:20px;text-align:center}
.header_left_zhanghao{width:auto;float:left;margin-left:30px;height:74px;line-height:74px;font-size:14px;color:#58666e;position:relative}
.header_left_zhanghao img{vertical-align:middle;margin-left:4px}
.qiehuanzhanghao{position:absolute;z-index:99;top:74px;left:-20px;width:375px;background-color:#fff;border:#ececec 1px solid}
.qiehuanzhanghao ul li a{height:50px;display:block;line-height:50px;padding-left:22px;font-size:14px;color:#58666e}
.qiehuanzhanghao ul li .qiehuanzhanghao_on{background-color:#eff4f8;color:#3a8aff;font-weight:700}
.apperji{position:absolute;z-index:99;top:30%;right:0}
.bj{width:100%;height:100%;position:fixed;z-index:999;top:0;left:0;bottom:0;background-color:rgba(0,0,0,.5)}
.anquantishi{background-image:url(../../images/shouye/add_11.png);background-position:center top;background-repeat:no-repeat;width:590px;height:590px;position:fixed;z-index:999;top:20%;left:50%;margin-left:-295px}
.anquantishi_close{width:41px;height:41px;position:absolute;z-index:9999;top:8%;left:80%}
.anquantishi_1{width:366px;margin:0 auto;padding-top:237px;text-align:center;font-size:20px;color:#fff;line-height:36px}
.anquantishi_2{text-align:center}
.anquantishi_2 a{display:inline-block;margin-top:22px}
.anquantishi_2 .anquantishi_2_01{width:177px;height:43px;background-color:#f60;box-shadow:3px 3px 6px #8dce9b;border-radius:43px;text-align:center;line-height:43px;font-size:18px;color:#fff}
.anquantishi_2 .anquantishi_2_02{width:173px;height:39px;border:#f1fafc 2px solid;border-radius:39px;text-align:center;line-height:39px;font-size:18px;color:#fff}
.tongxunlu_img{width:532px;position:fixed;z-index:999;top:200px;left:50%;margin-left:-300px}
.tongxunlu_tt{width:486px;position:fixed;z-index:999;top:200px;left:50%;background-image:url(../../images/shouye/sici_41.png);background-position:20px bottom;background-repeat:no-repeat;padding-bottom:7px;margin-left:-120px}
.tongxunlu_tt1{background-color:#fff;border-radius:9px;padding:19px 30px}
.tongxunlu_tt1_01{padding-bottom:15px;font-size:18px;color:#000;font-weight:700}
.tongxunlu_tt1_02{padding-bottom:10px;font-size:15px;color:#666;height:50px}
.tongxunlu_tt1_03{text-align:right}
.tongxunlu_tt1_03 a{display:inline-block;width:100px;height:34px;background-color:#3e8dff;border-radius:5px;text-align:center;line-height:34px;font-size:15px;color:#fff}
.tongxunlu_tt1_03 .tongxunlu_tt1_03_1{width:98px;height:32px;display:inline-block;border:#3e8dff 1px solid;background-color:#fff;border-radius:5px;text-align:center;line-height:32px;font-size:15px;color:#3e8dff}
.tongxunlu_close{width:18px;height:18px;position:absolute;z-index:999;top:35%;left:50%;margin-left:330px}
.qiyezhuye_tt{width:486px;position:fixed;z-index:999;top:280px;left:50%;background-image:url(../../images/shouye/sici_17.png);background-position:left center;background-repeat:no-repeat;padding-left:7px;margin-left:-90px}
.tongxunlu_close1{width:18px;height:18px;position:absolute;z-index:999;top:45%;left:50%;margin-left:380px}
.set{width:844px;height:201px;background-color:#fff;border:1px #ececec solid;margin-left:10px;border-radius:3px}
.set_h{font-size:16px;color:#333;background:#eff4f8;height:48px;line-height:48px;padding-left:45px}
#set_cont{padding-top:37px}
#set_cont ul li{text-align:center;float:left;width:150px;height:115px;padding-left:0;position:relative}
.yingyong_new{position:absolute;top:0;right:3px}
.qiyeask{position:absolute;bottom:33px;right:16px}
#set_cont a{color:#424e67}
#set_cont p{padding-top:20px}
.cont_yingyong{padding-top:12px}
.qushangdian{text-align:center;padding-top:7px}
.qushangdian a{display:inline-block;padding-left:0;color:#38adff;width:106px;height:29px;line-height:29px;text-align:center;border:1px #03a9f5 solid;border-radius:5px;paddding:30px;font-size:14px}
.gongzuo{background:url(../../images/shouye/icon_1.gif) no-repeat}
.xinyingxiao{background:url(../../images/shouye/icon_11.gif) no-repeat}
.faxian{background:url(../../images/shouye/icon_12.gif) no-repeat}
.cont_up_right_bj1{width:275px;height:470px;position:absolute;z-index:9;top:0;left:0}
.cont_up_right_biaoti{width:100%;padding-top:140px;text-align:center;font-size:20px;color:#000;font-weight:700}
.cont_up_right_fenlei,.cont_up_right_fenlei2{width:100%;padding-top:18px;line-height:30px}
.cont_up_right_fenlei span{text-align:center;display:inherit;font-size:14px;color:#989898}
.cont_up_right_fenlei h2{display:inline;font:14px;font-weight:700;margin-left:14px;padding:4px 12px;background-color:#f2f6fb;color:#7584a1;border-radius:30px;margin-bottom:10px}
.cont_up_right_fenlei a,.cont_up_right_fenlei2 a{font-size:14px;color:#989898;padding-left:24px}
.faxian_h{padding:22px;text-align:center;color:#989898}
.faxian_h a{display:block;font-size:14px;color:#7584a1;font-weight:700;padding-bottom:10px}
.faxian_h a:hover{color:#3a8aff}
.cont_up_right_kaitong{width:66px;height:72px;position:absolute;z-index:9;top:0;right:0}