@charset "utf-8";
.top_help{width:100%;position:relative;cursor:pointer}
.top_help img{vertical-align:top}
.top_help span{width:18px;height:18px;display:inline-block;background-color:#ff1200;border-radius:100%;text-align:center;line-height:18px;font-size:13px;color:#fff;position:absolute;z-index:99;top:-5px;left:15px}
.top_help_tc{width:390px;position:fixed;z-index:99;top:66px;right:0;bottom:0;background-color:#fff;box-shadow:-3px 0 5px #ececec}
.top_help_tc_01{height:45px;padding-top:15px;border-bottom:#d5d5d5 1px solid}
.top_help_tc_01 ul li{float:left;width:130px}
.top_help_tc_01 ul li a{display:block;width:100%;height:44px;text-align:center;line-height:44px;font-size:14px;color:#616161}
.top_help_tc_01 ul li a span{display:inline-block;vertical-align:middle;width:18px;height:18px;background-color:#239ef4;border-radius:100%;text-align:center;line-height:18px;font-size:13px;color:#fff;margin-left:5px}
.top_help_tc_01_on{border-bottom:#239ef4 2px solid}
.top_help_tc_03{width:390px;height:50px;border-top:#d5d5d5 1px solid;position:fixed;z-index:99;bottom:0;right:0;background-color:#fff}
.top_help_tc_03 ul li{float:left;width:195px;box-sizing:border-box;text-align:center}
.top_help_tc_03_line{border-right:#d5d5d5 1px solid}
.top_help_tc_03 ul li a{width:100%;height:50px;display:block;text-align:center;line-height:50px;font-size:13px;color:#4d4d4d}
.top_help_tc_03 ul li .top_help_tc_03_bj1{background-color:#f5fcff;color:#239ef4}
.top_help_tc_02{padding:25px 20px 55px 43px}
.top_help_tc_02 ul li{padding-bottom:20px;position:relative;font-size:13px;color:#94a4b5;line-height:28px}
.top_help_tc_02 ul li a{font-size:13px;color:#415161}
.top_help_tc_02 ul li span{width:6px;height:6px;display:inline-block;position:absolute;z-index:99;top:12px;left:-15px;background-color:red;border-radius:100%}
.top_help_tc_02 ul li a:hover{color:red}
#right{width:87%;position:absolute;z-index:99;top:76px;right:.5%;background-color:#fff;padding-bottom:40px}
.bangzhulist{width:100%}
.bangzhulist_up{height:59px;border-bottom:#d5d5d5 1px solid}
.bangzhulist_up_left{width:auto;float:left}
.bangzhulist_up_left ul li{float:left}
.bangzhulist_up_left ul li a{width:146px;height:58px;display:block;text-align:center;line-height:58px;font-size:15px;color:#4c5c63}
.bangzhulist_up_left ul li a span{width:18px;height:18px;display:inline-block;vertical-align:middle;margin-left:4px;background-color:#239ef4;border-radius:100%;text-align:center;line-height:18px;font-size:13px;color:#fff}
.bangzhulist_up_left ul li .bangzhulist_up_left_on{border-bottom:#239ef4 2px solid}
.bangzhulist_up_right{width:60px;float:right;height:59px;background-image:url(../images/bangzhu_11.png);background-position:left center;background-repeat:no-repeat;padding-left:23px;line-height:59px;font-size:14px;color:#3e3e3e;cursor:pointer}
.bangzhulist_up_right:hover{background-image:url(../images/bangzhu_12.png);color:#ff8a00}
.bangzhulist_down{width:96%;margin:0 auto;padding:15px 0}
.bangzhulist_down_1{height:40px;border-bottom:#dde9ed 1px solid;line-height:40px;font-size:14px;color:#727a81}
.bangzhulist_down_1 b{font-weight:400;padding-left:30px;color:#448bc2}
.bangzhulist_down_1 b a{color:#448bc2;padding:0 15px}
.check_span{background-image:url(../images/shangchengdd_16.png);background-position:left top;background-repeat:no-repeat;background-size:cover;width:16px;height:16px;display:inline-block;vertical-align:middle;margin-right:4px}
.check_span_xz{background-image:url(../images/shangchengdd_17.png);background-position:left top;background-repeat:no-repeat;background-size:cover;width:16px;height:16px;display:inline-block;vertical-align:middle;margin-right:4px}
.bangzhulist_down_2{width:100%}
.bangzhulist_down_2 ul li{height:56px;border-bottom:#e3eaed 1px solid}
.bangzhulist_down_2 ul li:hover{background-color:#f2fdff}
.bangzhulist_down_2_01{width:4%;float:left;line-height:56px;padding-left:1%}
.bangzhulist_down_2_01 i{width:6px;height:6px;display:inline-block;background-color:red;border-radius:100%;vertical-align:middle;margin-left:6px}
.bangzhulist_down_2_02{width:94.6%;float:left;line-height:56px}
.bangzhulist_down_2_02 a{font-size:14px;color:#727a81}
.con_helplist_tc{width:390px;position:fixed;z-index:99;top:66px;right:0;bottom:0;background-color:#fff;box-shadow:-3px 0 5px #ececec}
.con_helplist{padding:20px}
.con_helplist_1{padding-bottom:14px}
.con_helplist_1_left{width:auto;float:left;font-size:15px;color:#3e3e3e}
.con_helplist_1_right{width:auto;float:right}
.con_helplist_1_right a{font-size:13px;color:#239ef4}
.con_helplist_2{margin-bottom:15px;height:36px;border:#c5d6df 1px solid;border-radius:5px}
.con_helplist_2_left{width:280px;float:left;padding-left:11px}
.con_helplist_2_left input{width:280px;height:36px;border:none;background:0 0;outline:0;line-height:36px;font-size:14px;color:#9cb1bb}
.con_helplist_2_right{width:36px;height:36px;float:right;background-color:#eff6f9;border-radius:0 5px 5px 0;text-align:center}
.con_helplist_2_right img{padding-top:10px;vertical-align:top}
.con_helplist_3{padding-bottom:15px;font-size:13px;color:#768d98}
.con_helplist_4{overflow-y:scroll;overflow-x:hidden;height:450px}
.con_helplist_4 ul li{padding-bottom:10px;padding-left:15px;position:relative}
.con_helplist_4 ul li a{font-size:14px;color:#415161;line-height:26px}
.con_helplist_4 ul li i{width:6px;height:6px;display:inline-block;position:absolute;z-index:99;top:12px;left:0;background-color:#20607f;border-radius:100%}
.help_souguojg_tc{width:390px;position:fixed;z-index:99;top:66px;right:0;bottom:0;background-color:#fff;box-shadow:-3px 0 5px #ececec}
.help_sousuojg_1{padding-bottom:15px;font-size:13px;color:#768d98}
.help_sousuojg_1 span{color:#23b2f7}
.help_sousuojg_2{overflow-y:scroll;overflow-x:hidden;height:450px}
.help_sousuojg_2 ul li{padding-bottom:10px;padding-left:15px;position:relative}
.help_sousuojg_2 ul li a{font-size:14px;color:#415161;line-height:26px}
.help_sousuojg_2 ul li i{width:6px;height:6px;display:inline-block;position:absolute;z-index:99;top:12px;left:0;background-color:#20607f;border-radius:100%}
.help_sousuojg_2 ul li b{color:#23b2f7}
.help_sousuojg_2 ul li span{font-size:13px;color:#a2a2a2;line-height:24px}
.help_xiangqing_tc{width:390px;position:fixed;z-index:99;top:66px;right:0;bottom:0;background-color:#fff;box-shadow:-3px 0 5px #ececec}
.help_xiangqing{padding:20px}
.help_xiangqing_1{padding-bottom:20px;font-size:15px;color:#3e3e3e}
.help_xiangqing_1 img{vertical-align:middle;margin-right:5px}
.help_xiangqing_2{padding-bottom:15px;font-size:16px;color:#33383d}
.help_xiangqing_4{width:390px;height:46px;background-color:#d9f1fa;text-align:center;line-height:46px;position:fixed;z-index:99;bottom:0;right:0}
.help_xiangqing_4 a{font-size:13px;color:#3e3e3e}
.help_xiangqing_4 a img{vertical-align:middle;margin-right:5px}
.help_xiangqing_3{overflow-y:scroll;overflow-x:hidden;height:450px}
.help_xiangqing_3_01{font-size:13px;color:#54606a;line-height:25px}
.help_xiangqing_3_02{padding-bottom:20px;padding-top:10px}
.help_xiangqing_3_03{padding-bottom:15px}
.help_xiangqing_3_03 a{display:inline-block;width:122px;height:32px;background-color:#ffe4e3;border-radius:5px;text-align:center;line-height:32px;font-size:14px;color:red}
.fenleixiangxilist_down_right_04{padding-bottom:30px;font-size:13px;color:#8e949a}
.fenleixiangxilist_down_right_04 .fenleixiangxilist_down_right_04_shi{display:inline-block;vertical-align:middle;width:38px;height:22px;border:#239ef4 1px solid;border-radius:3px;text-align:center;line-height:22px;font-size:13px;color:#8e949a;margin:0 6px}
.fenleixiangxilist_down_right_04 .fenleixiangxilist_down_right_04_fou{display:inline-block;vertical-align:middle;width:38px;height:22px;border:#239ef4 1px solid;border-radius:3px;text-align:center;line-height:22px;font-size:13px;color:#8e949a;margin:0 6px}
.wenzhanyouyong_shi{font-size:13px;color:#8e949a;padding-top:20px}
.wenzhanyouyong_fou{padding-top:20px}
.wenzhanyouyong_fou_1{padding-bottom:10px;font-size:13px;color:#8e949a}
.wenzhanyouyong_fou_2{position:relative}
.wenzhanyouyong_fou_2_up{width:323px;height:38px;border:#cecece 1px solid}
.wenzhanyouyong_fou_2_up_left{width:280px;float:left;line-height:38px;padding-left:10px;font-size:13px;color:#8e949a}
.wenzhanyouyong_fou_2_up_right{width:20px;float:right;padding-top:16px;cursor:pointer}
.wenzhanyouyong_fou_2_up_right img{vertical-align:top}
.wenzhanyouyong_fou_2_down{width:323px;position:absolute;z-index:9999;top:39px;left:0;background-color:#fff;border:#cecece 1px solid;box-shadow:2px 2px 4px #cbcaca;padding:5px 0}
.wenzhanyouyong_fou_2_down a{height:34px;display:block;padding-left:15px;line-height:34px;font-size:13px;color:#8e949a}
.wenzhanyouyong_fou_2_down a:hover{color:#239ef4}
.wenzhanyouyong_fou_3{padding:15px 0;font-size:13px;color:#8e949a}
.wenzhanyouyong_fou_3 span{color:#239ef4}
.wenzhanyouyong_fou_3 img{vertical-align:middle}
.wenzhanyouyong_fou_4{width:100%}
.wenzhanyouyong_fou_4 textarea{width:300px;height:66px;border:#cecece 1px solid;padding:10px;line-height:24px;font-size:13px;color:#8e949a}
.wenzhanyouyong_fou_5{padding-top:20px}
.wenzhanyouyong_fou_5 a{display:inline-block;font-size:14px;color:#239ef4;width:123px;height:38px;border:#6ebff7 1px solid;border-radius:5px;text-align:center;line-height:38px}
.helpxx_datu_tc{width:100%}
.bj{width:100%;height:100%;position:fixed;z-index:99999;top:0;left:0;bottom:0;background-color:rgba(0,0,0,.5)}
.helpxx_datu{width:1254px;position:fixed;z-index:99999;top:23%;left:50%;margin-left:-627px}
.helpxx_close{width:53px;height:53px;position:fixed;z-index:99999;top:12%;right:5%}