@charset "utf-8";
.kucunpandian{padding:25px 0}
.kucunpandian_01{width:96%;height:96px;margin:0 auto;background-color:#eff1f1;text-align:center;line-height:96px}
.kucunpandian_01 ul{display:inline-block;background-image:url(../images/kucunpandian_1.gif);background-position:center;background-repeat:repeat-x;margin-top:33px;height:38px}
.kucunpandian_01 ul li{float:left}
.kucunpandian_01 ul .kucunpandian_01_right{padding-right:186px}
.kucunpandian_01 ul li a{width:163px;height:36px;display:inline-block;border-radius:35px;text-align:center;line-height:36px;font-size:13px}
.kucunpandian_01 ul li .kucunpandian_01_bj1{background-color:#054d70;border:#054d70 1px solid;color:#fff}
.kucunpandian_01 ul li .kucunpandian_01_bj2{background-color:#fff;border:#bfbfbf 1px solid;color:#5187a1}
.kucunpandian_01 ul li .kucunpandian_01_bj3{background-color:#fff;border:#fff 1px solid;color:#5187a1}
.kucunpandian_01 ul li img{vertical-align:middle;margin-left:6px}
.kucunpandian_02{padding-top:55px;padding-left:5%;width:93%}
.kucunpandian_02_1{width:100%}
.kucunpandian_02_1_up{height:52px;line-height:52px;font-size:16px;color:#686868}
.kucunpandian_02_1_down{padding:30px 17px;background-color:#f1f8fb;position:relative}
.kucunpandian_02_1_down_1{width:351px;height:35px;float:left;margin-right:20px;}
.kucunpandian_02_1_down_1_left{width:290px;float:left;padding-left:23px;line-height:35px;height:35px;font-size:13px;color:#686868}
.kucunpandian_02_1_down_1_right{width:32px;height:35px;float:right;background-image:url(../images/biao_67.png);background-position:left center;background-repeat:no-repeat}
.kucunpandian_02_1_down_1_right1{width:32px;height:35px;float:right;background-image:url(../images/biao_68.png);background-position:left center;background-repeat:no-repeat}
.kucunpandian_02_1_down_2{width:351px;position:absolute;z-index:99;top:67px;background-color:#fff;border:#ccd6d9 1px solid;display:none;padding:5px 0}
.kucunpandian_02_1_down_2 ul li{height:35px;line-height:35px}
.kucunpandian_02_1_down_2 ul li a{display:block;font-size:12px;color:#686868;padding-left:30px}
.kucunpandian_02_1_down_2 ul li:hover a{background-color:#d7ebf5}
.kucunpandian_shujuxiazai{width:150px;height:38px;float:left;padding-top:8px}
.kucunpandian_shujuxiazai a{font-size:13px;color:#686868}
.kucunpandian_shujuxiazai a img{vertical-align:middle;margin-right:5px}
.kucunpandian_shujuxiazai a:hover{color:#054d70}
.kucunpandian_02_1_down_11{width:516px;height:35px;background-color:#fff;border:#ccd6d9 1px solid;border-radius:5px}
.kucunpandian_02_1_down_11_left{width:auto;float:left;padding-left:20px;line-height:35px;font-size:14px;color:#b8b8b8}
.kucunpandian_02_1_down_11_right{width:33px;float:right;padding-top:4px}
.kucunpandian_03{padding-top:50px;padding-left:5%}
.kucunpandian_03 a{display:inline-block;width:123px;height:37px;border-radius:7px;text-align:center;line-height:37px;font-size:14px;margin-right:15px}
.kucunpandian_03 .kucunpandian_03_1{background-color:#29a4e0;border:#29a4e0 1px solid;color:#fff}
.kucunpandian_03 .kucunpandian_03_2{background-color:#f3f3f3;border:#dadada 1px solid;color:#3f3030}
.kucunpandian_yulan{width:96%;margin:0 auto;overflow-y:auto}
.kucunpandian_yulan_01{height:36px;padding-top:36px;font-size:13px;color:#666}
.kucunpandian_yulan_02{width:100%}
.kucunpandian_yulan_02 table{border:#c8e8f8 1px solid;border-collapse:collapse}
.kucunpandian_yulan_02 table tr td{border:#c8e8f8 1px solid}
.kucunpandian_yulan_02_title{font-size:13px;color:#464646}
.kucunpandian_yulan_02_tt{padding:0 8px;font-size:13px;color:#464646}
.kucunpandian_daorushibai{padding-top:80px;width:96%;margin:0 auto}
.kucunpandian_daorushibai_01{height:75px;text-align:center;font-size:14px;color:#4b5960}
.kucunpandian_daorushibai_01 h2{font-size:25px;color:#ff4747;padding-bottom:15px}
.kucunpandian_daorushibai_02{padding-left:38%;font-size:14px;color:#2a2a2a;line-height:34px}
.kucunpandian_daorushibai_02 h2{font-size:16px}
.kucunpandian_daorushibai_03{padding-left:38%;padding-top:10px;font-size:14px;color:#9caeb6}
.kucunpandian_daorushibai_03 a{display:inline-block;width:147px;height:36px;border:#c2c2c2 1px solid;border-radius:5px;text-align:center;line-height:36px;font-size:14px;color:#4b5960;margin-bottom:5px}
.kucunpandian_daorushibai_03 a img{vertical-align:middle;margin-right:2px}
.kucunpandian_daorushibai_03 a:hover{border:#78c2f6 1px solid;color:#3396c6}
.kucunpandian_daorushibai_04{padding-top:45px;padding-left:40%}
.kucunpandian_daorushibai_04 a{font-size:14px;color:#fff;display:inline-block;width:147px;height:36px;border:#3fa7d9 1px solid;background-color:#3fa7d9;border-radius:5px;text-align:center;line-height:36px}
.kucunpandian_daorushibai_011{height:75px;text-align:center;font-size:14px;color:#4b5960}
.kucunpandian_daorushibai_011 h2{font-size:25px;color:#39bf91;padding-bottom:15px}
.spshoufahuizong_1{padding:15px 0;width:98%;margin:0 auto}
.spshoufahuizong_1 ul li{float:left;width:24%;margin-right:1%;height:116px;text-align:center;font-size:16px;color:#fff}
.spshoufahuizong_1 ul li h2{font-size:30px;color:#fff;padding-bottom:15px;padding-top:30px}
.spshoufahuizong_1_bj1{background-color:#ff8382}
.spshoufahuizong_1_bj2{background-color:#52ade6}
.spshoufahuizong_1_bj3{background-color:#af99e8}
.spshoufahuizong_1_bj4{background-color:#feaaa1}
.shoufahuizongxx{width:96%;margin:0 auto;padding-top:23px}
.shoufahuizongxx_01{height:39px}
.shoufahuizongxx_01_1{width:145px;float:right}
.shoufahuizongxx_01_1 a{width:113px;height:39px;display:inline-block;background-color:#30cf8e;text-align:center;line-height:39px;border-radius:5px;font-size:14px;color:#fff}
.shoufahuizongxx_01_2{width:140px;float:right;position:relative}
.shoufahuizongxx_01_2_up{cursor:pointer;height:39px;line-height:39px;font-size:14px;color:#76848b}
.shoufahuizongxx_01_2_up img{vertical-align:middle;margin-left:5px}
.shoufahuizongxx_01_2_down{width:369px;height:162px;position:absolute;z-index:999;top:39px;right:20px;background-color:#fff;border:#ff9e1f 1px solid;border-radius:8px;padding:13px 14px;line-height:30px;font-size:12px;color:#576b7e;display:none}
.shoufahuizongxx_02{height:52px;line-height:52px;font-size:13px;color:#555}
.shoufahuizongxx_03{width:100%}
.shoufahuizongxx_03 table{border:#e8e8e8 1px solid;border-collapse:collapse}
.shoufahuizongxx_03 table tr td{border:#e8e8e8 1px solid}
.shoufahuizongxx_03_title{font-size:13px;color:#fff}
.shoufahuizongxx_03_tt{font-size:13px;color:#555}
.kucunpandian_02_1_03{padding-top:10px}
.kucunpandian_02_1_03_left{width:30px;float:left;padding-top:7px}
.kucunpandian_02_1_03_right{width:auto;float:left;font-size:12px;color:#939393;line-height:26px}
.chengbentiaozheng_tankuang{width:530px;height:300px;position:absolute;z-index:9999;top:20%;left:50%;margin-left:-265px;background-color:#fff;border-radius:9px;display:none}
.chengbentiaozheng_tankuang_01{height:46px;background-color:#4b81b9;border-radius:8px 8px 0 0;padding-left:20px;line-height:46px;font-size:16px;color:#fff}
.chengbentiaozheng_tankuang_02{padding:55px 0 0 0;height:118px;font-size:13px;color:#7c7c7c;text-align:center}
.chengbentiaozheng_tankuang_03{margin:0 12px;border-top:#e4ebf0 1px solid;padding-top:14px;text-align:right}
.chengbentiaozheng_tankuang_03 a{display:inline-block;width:99px;height:37px;text-align:center;line-height:37px;border-radius:9px;font-size:15px;color:#7c7c7c;margin-left:15px}
.chengbentiaozheng_tankuang_03 .chengbentiaozheng_tankuang_03_1{background-color:#f6ac0e;border:#f6ac0e 1px solid;color:#fff}
.chengbentiaozheng_tankuang_03 .chengbentiaozheng_tankuang_03_2{background-color:#fff;border:#cdcdcd 1px solid;color:#717171}
.qimojiezhuan{padding-top:20px;width:96%;margin:0 auto}
.qimojiezhuan_1{height:39px;margin-bottom:20px;padding-left:20px}
.qimojiezhuan_1_left{width:auto;float:left;line-height:39px;height:39px;font-size:13px;color:#8ca5b1}
.qimojiezhuan_1_left img{vertical-align:middle;margin-right:5px}
.qimojiezhuan_1_right{width:auto;float:right}
.qimojiezhuan_1_right a{display:inline-block;margin-left:15px;width:81px;height:37px;border-radius:8px;text-align:center;line-height:37px;font-size:14px}
.qimojiezhuan_1_right .qimojiezhuan_1_right_01{border:#b8c2d0 1px solid;background-color:#fff;color:#7e7d7d}
.qimojiezhuan_1_right .qimojiezhuan_1_right_02{border:#ffa200 1px solid;background-color:#ffa200;color:#fff}
.qimojiezhuan_2{width:100%}
.qimojiezhuan_2_title{padding-left:15px;font-size:13px;color:#464646;border-right:#ebf9ff 1px solid}
.qimojiezhuan_2_tt{padding-left:15px;font-size:13px;color:#555;border-bottom:#eff3f6 1px solid}
.jiezhuantankuang{width:87%;position:absolute;z-index:999;top:73px;left:12.2%;background-color:#fff;padding:20px 0 50px;box-shadow:0 3px 6px #ebebeb;display:none}
.jiezhuantankuang_01{height:50px;padding-left:30px;line-height:50px;font-size:16px;color:#606466}
.jiezhuantankuang_02{padding-left:30px;margin-top:10px}
.jiezhuantankuang_02_1{width:108px;float:left;line-height:37px;font-size:14px;color:#606466}
.jiezhuantankuang_02_1 span{color:#ff3d3d}
.jiezhuantankuang_02_2{width:244px;height:35px;float:left;border:#bfced6 1px solid;border-radius:7px;margin-right:20px}
.jiezhuantankuang_02_2_left{width:190px;float:left;padding-left:15px;height:35px;line-height:35px;font-size:14px;color:#c6c6c6}
.jiezhuantankuang_02_2_right{width:31px;float:right;padding-top:10px}
.jiezhuantankuang_02_3{width:auto;float:left;line-height:37px;font-size:13px;color:#ff4242}
.jiezhuantankuang_03{padding-left:30px;margin-top:20px;line-height:28px;font-size:14px;color:#a6a6a6}
.jiezhuantankuang_04{padding-top:28px;padding-left:30px}
.jiezhuantankuang_04 a{display:inline-block;width:105px;height:35px;text-align:center;line-height:35px;border-radius:7px;font-size:14px;margin-right:15px}
.jiezhuantankuang_04 .jiezhuantankuang_04_1{background-color:#29a4e0;border:#29a4e0 1px solid;color:#fff}
.jiezhuantankuang_04 .jiezhuantankuang_04_2{background-color:#fff;border:#c8c8c8 1px solid;color:#727272}
.cangkuguanli_1{height:48px;background-color:#0f7eb3;border-bottom:#d7ebf5 1px solid}
.cangkuguanli_1_left{width:auto;float:left;padding-left:23px;height:48px;line-height:48px;font-size:16px;color:#fff}
.cangkuguanli_1_left img{vertical-align:middle;margin-right:5px}
.cangkuguanli_1_right{width:auto;float:right;padding-right:20px;padding-top:7px}
.cangkuguanli_1_right a{width:100px;height:34px;display:inline-block;background-color:#ff9600;border-radius:7px;text-align:center;line-height:34px;font-size:16px;color:#fff}
.yuandian_xx_cankuguanli{width:100px;height:117px;position:absolute;z-index:999;top:50px;left:-80px;background-color:#fff;border:#cecece 1px solid;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;display:none}
.yuandian_xx_cankuguanli ul li a{height:39px;display:block;text-align:left;line-height:39px;padding-left:13px;font-size:13px;color:#6c6c6c}
.yuandian_xx_cankuguanli ul li a img{vertical-align:middle;margin-right:3px}
.yuandian_xx_cankuguanli ul li:hover a{background-color:#d7ebf5}
.cangkugl_xiugai{width:976px;height:554px;background-color:#fff;border-radius:9px;position:absolute;z-index:9999;top:10%;left:50%;margin-left:-488px;display:none}
.cangkugl_xiugai_01{height:46px;background-color:#4b81b9;border-radius:8px 8px 0 0;line-height:46px;padding-left:20px;font-size:16px;color:#fff}
.cangkugl_xiugai_02{padding-top:26px;padding-left:28px;padding-bottom:6px;border-bottom:#e4ebf0 1px solid}
.cangkugl_xiugai_02 ul li{padding-bottom:17px}
.cangkugl_xiugai_02_left{width:80px;float:left;text-align:right;line-height:37px;font-size:13px;color:#5b5b5b}
.cangkugl_xiugai_02_left span{color:#ff5a00}
.cangkugl_xiugai_02_right{width:auto;float:left;padding-left:10px}
.cangkugl_xiugai_02_right input{width:483px;}
.cangkugl_xiugai_02_right img{margin-top:12px;border:#cfcfcf 1px solid}
.cangkugl_xiugai_03{padding-top:14px;padding-left:118px}
.cangkugl_xiugai_03 a{display:inline-block;margin-right:15px;width:99px;height:37px;border-radius:7px;text-align:center;line-height:37px;font-size:15px}
.cangkugl_xiugai_03 .cangkugl_xiugai_03_01{background-color:#eda51b;border:#eda51b 1px solid;color:#fff}
.cangkugl_xiugai_03 .cangkugl_xiugai_03_02{background-color:#fff;border:#eda51b 1px solid;color:#717171}
.churukushezhi{padding:29px 0;width:96%;margin:0 auto;overflow-x:hidden}
.churukushezhi_01{padding-bottom:20px}
.churukushezhi_01_up{height:20px;background-image:url(../images/chukushezhi_11.gif);background-position:center;background-repeat:repeat-x}
.churukushezhi_01_up span{display:inline-block;background-image:url(../images/chukushezhi_1.gif);background-position:left center;background-repeat:no-repeat;padding:0 28px 0 16px;background-color:#fff;line-height:20px;font-size:16px;color:#0f7eb3}
.churukushezhi_01_down{padding-top:26px}
.churukushezhi_01_down ul li{padding-bottom:10px}
.churukushezhi_01_down_1{width:110px;float:left;text-align:right;line-height:32px;font-size:13px;color:#333}
.churukushezhi_01_down_2{width:auto;float:left;padding-left:10px;line-height:32px;font-size:13px;color:#333}
.churukushezhi_01_down_2 input{vertical-align:middle}
.churukushezhi_01_down_2_1{width:223px;height:30px;border:#c5c5c5 1px solid;border-radius:7px;line-height:30px;padding-left:10px;font-size:13px;color:#acacac}
.churukushezhi_01_down_2_2{width:83px;height:30px;border:#c5c5c5 1px solid;border-radius:7px;line-height:30px;padding-right:20px;text-align:right;font-size:13px;color:#acacac}
.churukushezhi_01_down_shuoming{padding-left:114px;font-size:13px;color:#a8a8a8}
.churukushezhi_02{padding-bottom:20px}
.churukushezhi_02_down{padding-top:20px;padding-left:35px}
.churukushezhi_02_down ul li{padding-bottom:20px}
.churukushezhi_02_down_1{padding-bottom:10px;font-size:13px;color:#a8a8a8}
.churukushezhi_02_down_1 h2{font-size:13px;color:#333;padding-bottom:6px}
.churukushezhi_02_down_2 div{margin-bottom:10px;}
.churukushezhi_02_down_2 input{width:331px;margin-right:10px;display:inline-block;}
.churukushezhi_02_down_2 img{vertical-align:middle;margin-left:10px}
.churukushezhi_03{padding-bottom:20px}
.churukushezhi_03_down{padding-top:25px;padding-left:38px}
.churukushezhi_03_down ul li{padding-bottom:40px}
.churukushezhi_03_down_1{height:22px;line-height:22px;font-size:13px;color:#333}
.churukushezhi_03_down_1 .churukushezhi_03_down_1_01{width:18px;height:22px;display:inline-block;margin-right:10px;background-image:url(../images/biao_23.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle}
.churukushezhi_03_down_1 .churukushezhi_03_down_1_02{width:18px;height:22px;display:inline-block;margin-right:10px;background-image:url(../images/xuanz.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle}
.churukushezhi_03_down_2{padding-left:24px;padding-bottom:10px;font-size:13px;color:#a8a8a8}
.churukushezhi_03_down_3{padding-left:24px;padding-bottom:10px;line-height:32px}
.churukushezhi_03_down_3 > div{margin-bottom:10px;}
.churukushezhi_03_down_3_01{width:74px;float:left;line-height:32px;font-size:13px;color:#333}
.churukushezhi_03_down_3_02{width:113px;float:left;margin-right:15px;position:relative}
.churukushezhi_03_down_3_02_up{height:30px;border:#c5c5c5 1px solid;border-radius:5px}
.churukushezhi_03_down_3_02_up_left{width:77px;float:left;padding-left:10px;line-height:30px;font-size:13px;color:#a0a0a0}
.churukushezhi_03_down_3_02_up_right{width:22px;float:right;height:30px;background-image:url(../images/biao_67.png);background-position:left center;background-repeat:no-repeat}
.churukushezhi_03_down_3_02_up_right1{width:22px;float:right;height:30px;background-image:url(../images/biao_68.png);background-position:left center;background-repeat:no-repeat}
.churukushezhi_03_down_3_02_down{width:113px;position:absolute;z-index:99;top:32px;left:0;border:#c5c5c5 1px solid;border-radius:5px;padding:5px 0;background-color:#fff;display:none}
.churukushezhi_03_down_3_02_down a{height:28px;display:block;padding-left:20px;line-height:28px;font-size:12px;color:#a0a0a0}
.churukushezhi_03_down_3_03{width:341px;height:35px;float:left;border:#c5c5c5 1px solid;border-radius:5px;margin-right:15px}
.churukushezhi_03_down_3_03_up{width:330px;height:35px;padding-left:11px;line-height:35px;font-size:13px;color:#4989ba;cursor:pointer;}
.churukushezhi_03_down_3_04{width:auto;float:left;padding-top:5px}
.churukushezhi_03_down_3_04 img{vertical-align:middle;margin-right:13px}
.cukunshezhi{padding:40px 0;width:96%;margin:0 auto}
.cukunshezhi_01{padding-bottom:30px}
.cukunshezhi_01_left{width:167px;float:left;text-align:right;line-height:32px;font-size:13px;color:#333}
.cukunshezhi_01_right{width:auto;float:left;padding-left:18px}
.cukunshezhi_01_right_01{width:100%;position:relative}
.cukunshezhi_01_right_01_up{width:135px;height:30px;border:#c5c5c5 1px solid;border-radius:5px}
.cukunshezhi_01_right_01_up_left{width:99px;float:left;padding-left:10px;line-height:30px;font-size:13px;color:#333}
.cukunshezhi_01_right_01_up_right{width:26px;float:right;height:30px;background-image:url(../images/biao_67.png);background-position:left center;background-repeat:no-repeat}
.cukunshezhi_01_right_01_up_right1{width:26px;float:right;height:30px;background-image:url(../images/biao_68.png);background-position:left center;background-repeat:no-repeat}
.cukunshezhi_01_right_01_down{width:150px;padding:5px 0;border:#c5c5c5 1px solid;background-color:#fff;position:absolute;z-index:99;top:32px;display:none}
.cukunshezhi_01_right_01_down ul li a{height:30px;display:block;padding-left:20px;line-height:30px;font-size:12px;color:#333}
.cukunshezhi_01_right_01_down ul li a:hover{background-color:#d7ebf5}
.cukunshezhi_01_right_02{padding-top:20px;font-size:13px;color:#a8a8a8;line-height:31px}
.cukunshezhi_01_right_03{width:100%;font-size:13px;color:#333}
.cukunshezhi_01_right_03 .churukushezhi_03_down_1_01{width:18px;height:22px;display:inline-block;margin-right:10px;background-image:url(../images/biao_23.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle}
.cukunshezhi_01_right_03 .churukushezhi_03_down_1_02{width:18px;height:22px;display:inline-block;margin-right:10px;background-image:url(../images/xuanz.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle}
.cukunshezhi_01_right_011{width:auto;height:32px;line-height:32px;font-size:13px;color:#333}
.cukunshezhi_01_right_011 .cukunshezhi_01_right_011_1{display:inline-block;width:17px;height:17px;background-image:url(../images/biao_61.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle}
.cukunshezhi_01_right_011 .cukunshezhi_01_right_011_2{display:inline-block;width:17px;height:17px;background-image:url(../images/biao_62.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle}
.cukunshezhi_01_right_012{margin-top:16px;font-size:13px;color:#a8a8a8;line-height:31px}
.cukunshezhi_01_right_012 span{color:#333}
.cukunshezhi_02{padding-top:30px;padding-left:50px}
.cukunshezhi_02 a{width:100px;height:37px;display:inline-block;background-color:#ff6c00;border-radius:6px;text-align:center;line-height:37px;font-size:13px;color:#fff}
