@charset "utf-8";
.yueshezhi{width:100%}
.yueshezhi_up{height:47px;background-color:#fff;margin-bottom:4px;padding-left:15px;line-height:47px;font-size:16px;color:#323333;position:relative}
.yueshezhi_up img{vertical-align:middle;margin-right:5px}
.yueshezhi_up_right{width:auto;position:absolute;z-index:99;top:0;right:10px;height:47px;line-height:47px}
.yueshezhi_up_right a{display:inline-block;width:100px;height:34px;background-color:#ff9600;border-radius:5px;text-align:center;line-height:34px;font-size:16px;color:#fff}
.yueshezhi_up_right a b{font-size:24px;color:#fff;vertical-align:middle}
.yueshezhi_down{padding:47px 0;background-color:#fff}
.yueshezhi_down_01{width:100%}
.yueshezhi_down_01 ul li{padding-bottom:23px}
.yueshezhi_down_01_left{width:206px;float:left;text-align:right;line-height:30px;font-size:13px;color:#323333}
.yueshezhi_down_01_right{width:auto;float:left;padding-left:20px}
.yueshezhi_down_01_right_01{display:inline-block;background-image:url(../images/mdsz_1.png);background-position:left top;background-repeat:no-repeat;width:78px;height:30px}
.yueshezhi_down_01_right_02{display:inline-block;background-image:url(../images/mdsz_11.png);background-position:left top;background-repeat:no-repeat;width:78px;height:30px}
.yueshezhi_down_02{padding-left:220px}
.yueshezhi_down_02 ul li{padding-bottom:16px;line-height:36px;font-size:13px;color:#323333}
.yueshezhi_down_02 ul li input{width:81px;height:34px;vertical-align:middle;margin-right:5px;border:#bcd3de 1px solid;border-radius:5px;text-align:center;line-height:34px;font-size:14px;color:#333}
.yueshezhi_down_03{padding-top:40px;padding-left:100px}
.yueshezhi_down_03 a{display:inline-block;vertical-align:middle;margin-right:15px;width:118px;height:40px;border-radius:5px;text-align:center;line-height:40px;font-size:14px;color:#585757;border:#bebebe 1px solid}
.yueshezhi_down_03 .yueshezhi_down_03_01{background-color:#29a4e0;border:#29a4e0 1px solid;color:#fff}
.addhuiyuandengji{background-color:#fff;padding:30px 0}
.addhuiyuandengji_up{width:100%}
.addhuiyuandengji_up ul li{padding-bottom:18px}
.addhuiyuandengji_left{width:160px;float:left;text-align:right;line-height:40px;font-size:14px;color:#555}
.addhuiyuandengji_left span{color:red}
.addhuiyuandengji_right{width:auto;float:left;padding-left:10px;line-height:40px;font-size:14px;color:#acacac}
.addhuiyuandengji_right span{color:#434343;margin-right:10px}
.addhuiyuandengji_right_input{width:95px;height:38px;border:#c8c8c8 1px solid;border-radius:5px;line-height:36px;font-size:14px;color:#555;padding-left:10px;outline:0;vertical-align:middle}
.addhuiyuandengji_right_tubiao{width:100%}
.addhuiyuandengji_right_tubiao_up{width:100%}
.addhuiyuandengji_right_tubiao_up dl dt{margin-right:23px;float:left}
.addhuiyuandengji_right_tubiao_up_img{width:64px;height:61px;border:#e8e8e8 2px solid;position:relative}
.addhuiyuandengji_right_tubiao_up_on{border:#26adef 2px solid}
.addhuiyuandengji_right_tubiao_up_img span{width:22px;height:20px;position:absolute;z-index:99;right:0;bottom:0}
.addhuiyuandengji_right_tubiao_down{padding-top:13px;font-size:12px;color:#7b7b7b}
.addhuiyuandengji_right_tubiao_down span{color:#448ce4}
.addhuiyuandengji_right_tequan{width:100%}
.addhuiyuandengji_right_tequan_up{padding-bottom:10px;font-size:13px;color:#434343;line-height:40px}
.addhuiyuandengji_right_tequan_down{line-height:50px;font-size:13px;color:#434343}
.addhuiyuandengji_right_tequan_down span{font-size:12px;color:#8c8c8c;padding-left:10px}
.chenk_i{vertical-align:middle;background-image:url(../images/mendian_11.png);background-position:left top;background-repeat:no-repeat;width:17px;height:17px;display:inline-block;margin-right:5px}
.chenk_i_xz{vertical-align:middle;background-image:url(../images/mendian_1.png);background-position:left top;background-repeat:no-repeat;width:17px;height:17px;display:inline-block;margin-right:5px}
.addhuiyuandengji_right_xuzhi{width:100%;text-align:right;font-size:13px;color:#7a7a7a}
.addhuiyuandengji_right_xuzhi span{color:#ff0d0d}
.addhuiyuandengji_right_xuzhi textarea{width:550px;height:97px;border:#c8c8c8 1px solid;border-radius:5px;padding:10px;font-size:13px;color:#bababa;outline:0}
.hydengjitubia_tc{width:100%}
.hydengjitubia_bj{width:100%;height:100%;position:fixed;z-index:999;top:0;left:0;background-color:rgba(0,0,0,.5)}
.hydengjitubia{width:606px;height:398px;position:absolute;z-index:999;top:30%;left:50%;margin-left:-303px;background-color:#fff;border-radius:5px}
.hydengjitubia_1{height:46px;background-color:#4b81b9;border-radius:4px 4px 0 0;padding-left:15px;line-height:46px;font-size:16px;color:#fff}
.hydengjitubia_2{height:43px;background-color:#ededed}
.hydengjitubia_2 ul li{float:left}
.hydengjitubia_2 ul li a{width:109px;height:43px;display:block;text-align:center;line-height:43px;font-size:13px;color:#434343}
.hydengjitubia_2 ul li .hydengjitubia_2_on{background-color:#fff}
.hydengjitubia_3{padding:23px 15px;border-bottom:#e4ebf0 1px solid}
.hydengjitubia_yongguo{width:100%}
.hydengjitubia_yongguo_up{height:30px;font-size:12px;color:#434343}
.hydengjitubia_yongguo_up a{color:#4290e0}
.hydengjitubia_yongguo_down{height:167px;overflow-y:auto;overflow-x:hidden}
.hydengjitubia_yongguo_down ul li{float:left;width:60px;height:60px;position:relative;overflow:hidden;margin-right:6px;margin-bottom:6px}
.hydengjitubia_yongguo_down_img{text-align:center}
.hydengjitubia_yongguo_down_img img{width:60px;height:60px}
.hydengjitubia_yongguo_down_tt{width:100%;height:19px;position:absolute;z-index:99;bottom:0;left:0;background-color:rgba(0,0,0,.5);text-align:center;line-height:19px;font-size:12px;color:#fff}
.hydengjitubia_yongguo_down ul li .hydengjitubia_yongguo_down_biao{display:none;width:22px;height:20px;position:absolute;z-index:99;bottom:0;right:0;overflow:hidden}
.hydengjitubia_yongguo_down ul li:hover .hydengjitubia_yongguo_down_img img{width:56px;height:56px;border:#09f 2px solid}
.hydengjitubia_yongguo_down ul li:hover .hydengjitubia_yongguo_down_tt{display:none}
.hydengjitubia_yongguo_down ul li:hover .hydengjitubia_yongguo_down_biao{display:block}
.hydengjitubia_yongguo_down ul li:hover .hydengjitubia_yongguo_down_biao img{width:22px;height:20px}
.hydengjitubia_bendi{padding:23px 0;height:151px;overflow-y:auto;overflow-x:hidden}
.hydengjitubia_bendi_left{width:86px;float:left;text-align:right;font-size:14px;color:#434343;line-height:44px}
.hydengjitubia_bendi_right{width:471px;float:left;margin-left:10px}
.hydengjitubia_bendi_right_up{width:100%}
.hydengjitubia_bendi_right_up ul li{float:left;width:94px;height:88px;margin-right:12px;margin-bottom:6px;position:relative}
.hydengjitubia_bendi_right_up_img{width:92px;height:86px;border:#d7d7d7 1px solid}
.hydengjitubia_bendi_right_up_biao{width:18px;height:18px;position:absolute;z-index:99;right:-6px;top:-6px}
.hydengjitubia_bendi_right_up_more{width:92px;height:86px;border:#d7d7d7 1px dashed}
.hydengjitubia_bendi_right_down{padding-top:10px;font-size:12px;color:#969696}
.hydengjitubia_4{padding-top:13px;text-align:right}
.hydengjitubia_4 a{display:inline-block;vertical-align:middle;margin-right:15px;width:118px;height:40px;border-radius:5px;text-align:center;line-height:40px;font-size:14px;color:#585757;border:#bebebe 1px solid}
.hydengjitubia_4 .hydengjitubia_4_01{background-color:#f6ac0e;border:#f6ac0e 1px solid;color:#fff}
.huiyuandengji{padding:17px 17px 40px;background-color:#fff}
.huiyuandengji_1{padding:17px 21px;background-color:#f1f9fd;border-radius:7px;margin-bottom:20px}
.huiyuandengji_1_left{width:auto;float:left;font-size:13px;color:#a1a1a1}
.huiyuandengji_1_left h2{font-size:18px;color:#000;padding-bottom:10px}
.huiyuandengji_1_right{width:130px;float:right;cursor:pointer}
.huiyuandengji_1_right_01{display:inline-block;background-image:url(../images/mdsz_17.png);background-position:left top;background-repeat:no-repeat;width:111px;height:44px}
.huiyuandengji_1_right_02{display:inline-block;background-image:url(../images/mdsz_18.png);background-position:left top;background-repeat:no-repeat;width:111px;height:44px}
.huiyuandengji_1_left_01{padding:10px 0;line-height:34px;font-size:12px;color:#484848}
.huiyuandengji_1_left_01 input{width:62px;height:32px;border:#c9c9c9 1px solid;background-color:#fff;outline:0;border-radius:5px;padding-left:10px;line-height:32px;margin:0 4px}
.huiyuandengji_1_left_02{width:100%}
.huiyuandengji_1_left_02 a{display:inline-block;width:59px;height:27px;background-color:#139adc;border-radius:5px;text-align:center;line-height:27px;font-size:13px;color:#fff}
.huiyuandengji_2{margin-bottom:20px;padding:0 21px}
.huiyuandengji_2_left{width:auto;float:left;line-height:37px;font-size:16px;color:#505050}
.huiyuandengji_2_right{width:auto;float:right}
.huiyuandengji_2_right_01{width:214px;height:35px;float:left;border:#dfdfdf 1px solid;border-radius:5px;margin-right:10px}
.huiyuandengji_2_right_01_left{width:160px;padding-left:10px;float:left}
.huiyuandengji_2_right_01_left input{width:100%;height:35px;line-height:35px;border:none;background:0 0;font-size:13px;color:#aaa;outline:0}
.huiyuandengji_2_right_01_right{width:35px;float:right}
.huiyuandengji_2_right_02{width:auto;float:left}
.huiyuandengji_2_right_02 a{width:84px;height:34px;display:inline-block;background-color:#ffa800;border-radius:5px;text-align:center;line-height:34px;font-size:16px;color:#fff}
.huiyuandengji_3{width:100%}
.huiyuandengji_3 table tr td{padding-left:30px;font-size:13px;color:#464646}
.huiyuandengji_3_line{border-bottom:#eff3f6 1px solid}
.huiyuandengji_3 a{color:#1999dc}
.huiyuandengji_3 img{vertical-align:middle}
.jifenguize{width:100%;background-color:#fff;padding-bottom:40px}
.jifenguize_up{height:51px;border-bottom:#e1ded5 1px solid;background-color:#fcfaea}
.jifenguize_up ul li{float:left}
.jifenguize_up ul li a{width:136px;height:51px;display:block;border-right:#e1ded5 1px solid;text-align:center;line-height:51px;font-size:14px;color:#4d4d4d}
.jifenguize_up ul li .jifenguize_up_on{background-color:#fff;border-bottom:#fff 1px solid}
.jifenguize_down{padding-top:20px;padding-right:2%}
.jiaoyijifen{width:100%}
.jiaoyijifen_up{padding-bottom:10px}
.jiaoyijifen_up_1{height:37px;background-image:url(../images/mdsz_jifen_1.gif);background-position:left center;background-repeat:no-repeat;padding-left:25px;line-height:37px;font-size:16px;color:#369dd0;font-weight:700}
.jiaoyijifen_up_2{padding-left:25px;padding-top:20px}
.jiaoyijifen_up_2 ul .jiaoyijifen_up_2_li{margin-bottom:10px;padding:20px;border:#fff 1px solid}
.jiaoyijifen_up_2 ul .jiaoyijifen_up_2_li.on{background-color:#f5fafd;border:#7ccbf2 1px solid}
.jiaoyijifen_up_2_up{height:40px;font-size:16px;color:#000;font-weight:700}
.jiaoyijifen_up_2_up input{width:16px;height:16px;vertical-align:middle;margin-right:5px}
.jiaoyijifen_up_2_down{padding-left:21px;line-height:35px;font-size:13px;color:#555;display:none;}
.jiaoyijifen_up_2_down input{width:74px;height:33px;padding-left:10px;border:#c9c9c9 1px solid;background-color:#fff;border-radius:5px;outline:0;line-height:33px;font-size:14px;color:#555}
.jiaoyijifen_up_2_down span{color:#a7a7a7}
.jiaoyijifen_up_2_03{padding-top:10px;padding-left:21px;font-size:13px;color:#a7a7a7}
.jiaoyijifen_up_zhidingshangpinfenlei{padding-bottom:22px}
.jiaoyijifen_up_zhidingshangpinfenlei_1{height:34px;padding-left:21px}
.jiaoyijifen_up_zhidingshangpinfenlei_1 ul li{float:left;margin-right:20px;font-size:13px;color:#555}
.jiaoyijifen_up_zhidingshangpinfenlei_1 ul li input{width:16px;height:16px;vertical-align:middle}
.jiaoyijifen_up_zhidingshangpinfenlei_22{vertical-align:middle;width:74px;height:30px;padding-left:10px;border:#c9c9c9 1px solid;background-color:#fff;border-radius:5px;outline:0;line-height:33px;font-size:14px;color:#555}
.jiaoyijifen_up_2_down .jiaoyijifen_up_zhidingshangpinfenlei_2{display:inline-block;vertical-align:middle;margin-right:20px;padding-left:10px;width:552px;height:30px;border:#c9c9c9 1px solid;border-radius:5px;background-color:#fff}
.jiaoyijifen_up_zhidingshangpin{width:100%}
.jiaoyijifen_up_zhidingshangpin_1{padding-bottom:10px;padding-left:21px;font-size:13px;color:#555}
.jiaoyijifen_up_zhidingshangpin_1 input{vertical-align:middle;width:74px;height:33px;padding-left:10px;border:#c9c9c9 1px solid;background-color:#fff;border-radius:5px;outline:0;line-height:33px;font-size:14px;color:#555}
.jiaoyijifen_up_zhidingshangpin_2{padding-left:21px;font-size:13px;color:#555}
.jiaoyijifen_up_zhidingshangpin_2 table{border:#d1d1d1 1px solid;border-collapse:collapse}
.jiaoyijifen_up_zhidingshangpin_2 table tr td{border:#d1d1d1 1px solid;padding-left:30px}
.jiaoyijifen_up_zhidingshangpin_2 a{color:#1fa7e7}
.jiaoyijifen_up_zhidingshangpin_3{padding-top:10px;padding-left:21px}
.jiaoyijifen_up_zhidingshangpin_3 a{font-size:14px;color:#ffa200}
.jiaoyijifen_down{width:100%}
.jiaoyijifen_down_01{padding:10px 0;padding-left:75px;font-size:16px;color:#000;font-weight:700}
.jiaoyijifen_down_02{padding-bottom:6px;line-height:35px;font-size:13px;color:#555;padding-left:75px}
.jiaoyijifen_down_02 input{vertical-align:middle;width:74px;height:33px;padding-left:10px;border:#c9c9c9 1px solid;background-color:#fff;border-radius:5px;outline:0;line-height:33px;font-size:14px;color:#555}
.jiaoyijifen_down_03{padding-left:75px;padding-bottom:6px;font-size:13px;color:#a7a7a7}
.jiazhiguanli{padding-top:20px}
.jiazhiguanli_up{padding-bottom:10px}
.jiazhiguanli_up_1{padding-left:52px;padding-top:10px}
.jiazhiguanli_up_2{padding-left:25px;padding-top:10px;padding-bottom:10px;line-height:35px;font-size:13px;color:#555}
.jiazhiguanli_up_2 input{vertical-align:middle;width:74px;height:33px;padding-left:10px;border:#c9c9c9 1px solid;background-color:#fff;border-radius:5px;outline:0;line-height:33px;font-size:14px;color:#555}
.jiazhiguanli_up_2 span{color:#a7a7a7;padding-left:15px}
.jiazhiguanli_up_3{padding:0 25px}
.jiazhiguanli_up_3 ul li{padding:15px 24px;margin-bottom:10px;border:#fff 1px solid;line-height:35px;font-size:13px;color:#555}
.jiazhiguanli_up_3 ul li:hover{background-color:#f5fafd;border:#a6d7f0 1px solid}
.jiazhiguanli_up_3 ul li span{color:#a7a7a7;padding-left:15px}
.jiazhiguanli_up_3 ul li input{vertical-align:middle;width:74px;height:33px;padding-left:10px;border:#c9c9c9 1px solid;border-radius:5px;outline:0;line-height:33px;font-size:14px;color:#555}
.jiazhiguanli_down_2{padding-top:10px;padding-left:50px;font-size:13px;color:#555;line-height:38px}
.jiazhiguanli_down_2 b{color:#ff1515}
.meiriqiandao{width:100%;padding-top:20px}
.meiriqiandao_01{padding:10px 0 20px 45px;font-size:13px;color:red}
.meiriqiandao_02{padding:0 20px}
.meiriqiandao_02 ul li{padding:15px 24px;margin-bottom:10px;border:#fff 1px solid;line-height:35px;font-size:13px;color:#555}
.meiriqiandao_02 ul li:hover{background-color:#f5fafd;border:#a6d7f0 1px solid}
.meiriqiandao_02_up{padding-bottom:12px;font-size:16px;color:#000;font-weight:700}
.meiriqiandao_02_up input{width:16px;height:16px;vertical-align:middle;margin-right:5px}
.meiriqiandao_02_down{padding-left:21px;font-size:13px;color:#555;line-height:35px}
.meiriqiandao_02_down input{vertical-align:middle;width:74px;height:33px;padding-left:10px;border:#c9c9c9 1px solid;background-color:#fff;border-radius:5px;outline:0;line-height:33px;font-size:14px;color:#555}
.meiriqiandao_02_3{padding-top:10px;font-size:12px;color:#8c8c8c;line-height:25px}
.meiriqiandao_02_3 span{color:red}
.hyziduanshezhi{padding:28px 30px;background-color:#fff}
.hyziduanshezhi_up{padding-bottom:10px}
.hyziduanshezhi_up_1{height:26px;background-image:url(../images/mdsz_jifen_1.gif);background-position:left center;background-repeat:no-repeat;padding-left:16px;line-height:26px;font-size:16px;color:#948d8d}
.hyziduanshezhi_up_2{padding-top:23px}
.hyziduanshezhi_up_2 ul li{margin-bottom:10px}
.hyziduanshezhi_up_2_left{width:110px;float:left;text-align:right;line-height:32px;font-size:14px;color:#555}
.hyziduanshezhi_up_2_right{width:auto;float:left;padding-left:10px;line-height:32px;font-size:14px;color:#555}
.hyziduanshezhi_up_2_right input{width:474px;height:30px;padding-left:10px;border:#c5c5c5 1px solid;background-color:#f2f2f2;outline:0;border-radius:5px;line-height:30px;font-size:14px;color:#333}
.hyziduanshezhi_up_2_right_leibie{width:484px;height:30px;border:#c5c5c5 1px solid;background-color:#f2f2f2;border-radius:5px;position:relative}
.hyziduanshezhi_up_2_right_leibie_up{height:30px}
.hyziduanshezhi_up_2_right_leibie_up_left{width:400px;float:left;padding-left:10px;line-height:30px;font-size:14px;color:#333}
.hyziduanshezhi_up_2_right_leibie_up_right{width:28px;float:right;cursor:pointer;padding-top:10px}
.hyziduanshezhi_up_2_right_leibie_up_right img{vertical-align:top;width:14px;height:10px}
.hyziduanshezhi_up_2_right_leibie_down{width:100%;background-color:#fff;border:#c5c5c5 1px solid;box-shadow:3px 3px 5px #D3CBCB}
.hyziduanshezhi_up_2_right_leibie_down a{height:35px;display:block;padding-left:15px;line-height:35px;font-size:14px;color:#444}
.hyziduanshezhi_up_2_right_leibie_down a:hover{background-color:#d7ebf5}
.hyziduanshezhi_down{width:100%}
.hyziduanshezhi_down_2{padding-left:40px;padding-top:20px}
.hyziduanshezhi_down_2 ul li{padding-bottom:10px}
.hyziduanshezhi_down_2_01{width:auto;float:left;padding-right:23px}
.hyziduanshezhi_down_2_01_left{width:auto;float:left;padding-right:10px;line-height:32px;font-size:14px;color:#b3b3b3}
.hyziduanshezhi_down_2_01_right{width:auto;float:left}
.hyziduanshezhi_down_2_01_right input{width:122px;height:30px;padding-left:10px;border:#c5c5c5 1px solid;border-radius:3px;line-height:30px;font-size:14px;color:#555;outline:0}
.hyziduanshezhi_down_2_01_right select{width:122px;height:30px;padding-left:10px;border:#c5c5c5 1px solid;border-radius:3px;line-height:30px;font-size:14px;color:#555;outline:0}
.hyziduanshezhi_down_2_02{width:auto;float:left;padding-top:2px}
.hyziduanshezhi_down_2_02 img{vertical-align:top}
.hyziduanshezhi_down_2_01_right_xuanxiang{width:600px;height:30px;border:#c5c5c5 1px solid}
.mendianleixing{padding:27px 20px;background-color:#fff;font-size:13px;color:#4b4b4b}
.mendianleixing table tr td{padding-left:30px}
.mendianleixing_title{border-left:#fff 1px solid;padding-left:20px}
.mendianleixing_tt{border-bottom:#e3eaef 1px solid}
.mendianleixing_tt a{color:#4b4b4b}
.addmendianleixing{width:83.6%;position:absolute;z-index:9;right:.8%;top:126px;background-color:#fff;padding:29px 34px;box-shadow:3px 3px 5px #DBD8D8}
.addmendianleixing_1{height:53px;font-size:18px;color:#323333}
.addmendianleixing_2{padding-bottom:30px;font-size:13px;color:grey}
.addmendianleixing_2 span{color:#FF0004}
.addmendianleixing_2 input{vertical-align:middle;margin-left:10px;width:338px;height:37px;border:#b4cad5 1px solid;border-radius:5px;padding-left:10px;line-height:37px;font-size:14px;color:#323333;outline:0}
.addmendianleixing_3{padding-left:77px}
.addmendianleixing_3 a{display:inline-block;width:98px;height:36px;border:#cdcdcd 1px solid;border-radius:5px;text-align:center;line-height:36px;font-size:14px;color:#4f4f4f;margin-right:20px}
.addmendianleixing_3 .addmendianleixing_3_01{background-color:#52afdb;border:#52afdb 1px solid;color:#fff}
.mendianshezhi{padding:25px 40px;background-color:#fff}
.mendianshezhi_1{padding-bottom:24px}
.mendianshezhi_1_up{height:38px;background-image:url(../images/mdsz_huiyuan_21.gif);background-position:left center;background-repeat:no-repeat;padding-left:15px;line-height:38px;font-size:16px;color:#948d8d}
.mendianshezhi_1_down{padding-top:23px}
.mendianshezhi_1_down ul li{padding-bottom:17px}
.mendianshezhi_1_down_left{width:116px;float:left;text-align:right;line-height:32px;font-size:13px;color:#333}
.mendianshezhi_1_down_right{width:auto;float:left;padding-left:10px;line-height:32px;font-size:13px;color:#333}
.mendianshezhi_1_down_right input{width:223px;height:30px;padding-left:10px;border:#c5c5c5 1px solid;border-radius:5px;line-height:30px;outline:0;font-size:14px;color:#acacac;vertical-align:middle}
.mendianshezhi_1_down_right_huiyuan{width:100%}
.mendianshezhi_1_down_right_huiyuan_up{padding-bottom:20px;line-height:32px}
.mendianshezhi_1_down_right_huiyuan_down select{width:163px;height:30px;padding-left:10px;border:#c5c5c5 1px solid;border-radius:5px;line-height:30px;outline:0;font-size:14px;color:#acacac;vertical-align:middle;margin-right:10px}
.mendianshezhi_1_down_right_huiyuan_down img{vertical-align:middle;margin-left:10px}
.mendianshezhi_1_shuoming{padding-top:20px;font-size:13px;color:#a8a8a8;padding-left:50px}
.mendianshezhi_2,.mendianshezhi_3,.mendianshezhi_4{padding-bottom:25px}
.mendianshezhi_2_down{padding-top:5px}
.mendianshezhi_2_down_left{width:141px;float:left;line-height:27px;font-size:13px;color:#333;text-align:right}
.mendianshezhi_2_down_right{width:auto;float:left;padding-left:10px;font-size:13px;color:#333;line-height:27px}
.mendianshezhi_2_down_right input{width:16px;height:16px;vertical-align:middle;margin-right:5px}
.mendianshezhi_2_down_right span{color:#a9a9a9;padding-left:21px}
.mendianshezhi_3_down{padding-top:12px;padding-left:20px;font-size:13px;color:#333}
.mendianshezhi_3_down_01{display:inline-block;vertical-align:middle;margin-left:10px;background-image:url(../images/mdsz_mendian_12.png);background-position:left top;background-repeat:no-repeat;width:48px;height:26px}
.mendianshezhi_3_down_02{display:inline-block;vertical-align:middle;margin-left:10px;background-image:url(../images/mdsz_mendian_13.png);background-position:left top;background-repeat:no-repeat;width:48px;height:26px}
.mendianshezhi_4_down{padding-top:10px}
.mendianshezhi_4_down ul li{padding-bottom:10px;line-height:32px;height:32px;font-size:13px;color:#333}
.mendianshezhi_4_down ul li input{vertical-align:middle;width:163px;height:30px;padding-left:10px;border:#c5c5c5 1px solid;border-radius:5px;line-height:30px;outline:0;font-size:14px;color:#acacac;margin-right:10px}
.gonggao_2_left{width:102px;float:left;line-height:26px;text-align:right;font-size:14px}
.gonggao_2_right{width:auto;width:805px;float:left;padding-left:30px}
.shenpi_add_2_input1{width:130px;height:26px;line-height:26px;color:#666;border:1px #d6dbe1 solid;margin-right:20px;margin-left:5px}
.shenpi_add_2_input2{width:60px;height:26px;line-height:26px;color:#666;border:1px #d6dbe1 solid;margin-right:20px;margin-left:5px}
.shenpi_add_2_dele{float:left;width:22px;height:25px;margin-top:-5px;margin-left:-10px}
.lirow{padding-top:10px;font-size:14px;color:#333}
.shenpi_ziduan_set1{margin-left:100px;height:35px;margin-top:15px}
.shenpi_ziduan_set1_01{float:left;line-height:35px}
.shenpi_ziduan_set1_02{float:left;width:580px}
.shenpi_ziduan_set1_02 input{margin-right:10px}
.shenpi_ziduan_set1_02 li{float:left;max-width:450px;margin-left:10px;line-height:35px}