@charset "utf-8";
#scdd_erji{width:106px;position:fixed;z-index:9;top:0px;bottom:0;left:0%;padding:0 1%;background-color:#b2dcf1;min-width:90px}
.scdd_erji_up{height:26px;text-align:center;font-size:14px;color:#323232;padding-top:20px}
.scdd_erji_down{border:#add1e3 1px solid;background-color:#ebf8ff;border-radius:9px;padding:10px 0}
.scdd_erji_down ul li a{height:40px;display:block;background-image:url(../images/shangchengdd_1.gif);background-position:center bottom;background-repeat:no-repeat;text-align:center;line-height:40px;font-size:13px;color:#4d4d4d}
.scdd_erji_down > ul > li:hover > a{background-color:#106c99;color:#fff}
.scdd_erji_down ul li .scdd_erji_down_on{background-color:#106c99;color:#fff}
.scdd_erji_down ul li ul{display:none}
.scdd_erji_down ul li ul li a{height:25px;display:block;background-image:none;text-align:center;line-height:25px;font-size:12px;color:#5f7d9b;background:0 0}
.scdd_erji_down ul li ul li a:hover{color:#1895d2}
#content{position:absolute;z-index:99;top:0px;right:0;left:140px;bottom:0px;}
.content1{position:relative}
.content_1{height:47px;border-top:#e3f1f8 1px solid;border-bottom:#d7ebf5 1px solid;padding-left:2%;line-height:47px;font-size:16px;color:#4c4c4c}
.content_2{padding-top:11px}
.dangqiandd{width:98%;margin:0 auto}
.dangqiandd_1{height:36px;border-bottom:#e2e2e2 1px solid}
.dangqiandd_1 ul li{float:left;padding-right:2px}
.dangqiandd_1 ul li a{width:138px;height:36px;display:block;background-color:#bae0f3;border-radius:7px 7px 0 0;text-align:center;line-height:36px;font-size:13px;color:#333}
.dangqiandd_1 ul li .dangqiandd_1_on{background-color:#106c99;color:#fff}
.dangqiandd_2{height:55px;position:relative}
.dangqiandd_2_up{width:100%}
.dangqiandd_2_up_left{width:auto;float:left;position:relative;margin-left:20px}
.dangqiandd_2_up_left_1{height:55px;line-height:55px;font-size:13px;color:#313131}
.dangqiandd_2_up_left_1 img{vertical-align:middle;margin-left:6px;cursor:pointer}
.dangqiandd_2_up_left_2{width:100px;position:absolute;z-index:99;top:55px;left:0;background-color:#fff;border:#D7D3D3 1px solid}
.dangqiandd_2_up_left_2 a{display:block;height:30px;padding-left:15px;line-height:30px;font-size:13px;color:#313131}
.dangqiandd_2_up_left_2 a:hover{background-color:#d7ebf5}
.dangqiandd_2_up_right{width:auto;float:right;padding-top:10px}
.dangqiandd_2_up_right_sou{width:252px;height:35px;border:#d4d4d4 1px solid;float:left}
.dangqiandd_2_up_right_sou_left{width:207px;height:35px;float:left;padding-left:10px;line-height:35px}
.dangqiandd_2_up_right_sou_left input{width:100%;height:35px;border:none;background:0 0;outline:0;line-height:35px;font-size:13px;color:#c3c3c3}
.dangqiandd_2_up_right_sou_right{width:35px;height:35px;float:right;background-color:#eff3f6;text-align:center;cursor:pointer}
.dangqiandd_2_up_right_sou_right img{padding-top:8px;vertical-align:top}
.dangqiandd_2_up_right_gjss{padding:0 20px;float:left;line-height:37px;cursor:pointer;font-size:13px;color:#818181}
.dangqiandd_2_up_right_biao{float:left;line-height:37px}
.dangqiandd_2_up_right_biao a{display:inline-block;width:69px;height:30px;border:#bac4d1 1px solid;border-radius:5px;text-align:center;line-height:30px;vertical-align:middle;font-size:13px;color:#707a7f;margin-right:10px}
#dq_gaojisousuo_tc{width:80.5%;position:absolute;z-index:999;top:116px;right:0;background-color:#fff;box-shadow:0 3px 6px #f2f2f2;padding-bottom:40px}
.dqgaojisousuo{padding:0 30px}
.dqgaojisousuo_1{padding-top:20px;height:50px;font-size:16px;color:#3b3b3b}
.dqgaojisousuo_2{width:100%}
.dqgaojisousuo_2 ul li{float:left;width:45%;padding-bottom:13px}
.dqgaojisousuo_2_title{width:15%;float:left;text-align:right;line-height:36px;font-size:13px;color:#3b3b3b}
.dqgaojisousuo_2_tt{width:80%;float:left;padding-left:2%}
.dqgaojisousuo_2_tt_input{width:98%;height:34px;padding-left:2%;border:#b9d0dc 1px solid;border-radius:5px;line-height:34px;font-size:13px;color:#b9d0dc;outline:0}
.dqgaojisousuo_2_tt_riqi{width:100%;height:34px;border:#b9d0dc 1px solid;border-radius:5px}
.dqgaojisousuo_2_tt_riqi_left{width:90%;float:left;text-align:center;line-height:34px;font-size:13px;color:#898b8c}
.dqgaojisousuo_2_tt_riqi_right{width:5%;float:right;padding-top:8px}
.dqgaojisousuo_2_tt_riqi_right img{vertical-align:top}
.dingdanjine{line-height:34px;font-size:13px;color:#898b8c}
.dqgaojisousuo_2_tt_input1{width:46%;height:34px;padding-left:2%;border:#b9d0dc 1px solid;border-radius:5px;line-height:34px;font-size:13px;color:#b9d0dc;outline:0;text-align:left;box-sizing:border-box}
.dqgaojisousuo_2_tt_diqu{width:100%;height:34px;border:#b9d0dc 1px solid;border-radius:5px;position:relative}
.dqgaojisousuo_2_tt_diqu_left{width:90%;float:left;padding-left:2%;line-height:34px;font-size:13px;color:#a9a9a9}
.dqgaojisousuo_2_tt_diqu_right{width:5%;float:right;padding-top:15px;cursor:pointer}
.dqgaojisousuo_2_tt_diqu_right img{vertical-align:top}
.dqgaojisousuo_2_tt_diqu_erji{width:100%;position:absolute;z-index:99;top:36px;left:0;background-color:#fff;border:#b9d0dc 1px solid;border-radius:5px}
.dqgaojisousuo_2_tt_diqu_erji a{height:30px;display:block;padding-left:2%;line-height:30px;font-size:13px;color:#444}
.dqgaojisousuo_2_tt_diqu_erji a:hover{background-color:#d7ebf5}
.dqgaojisousuo_3{padding:10px 0}
.dqgaojisousuo_3 ul li{padding-bottom:20px}
.dqgaojisousuo_3_title{width:7%;float:left;text-align:right;line-height:24px;font-size:13px;color:#3b3b3b}
.dqgaojisousuo_3_tt{width:90%;float:left;line-height:24px}
.dqgaojisousuo_3_tt span{margin-left:20px}
.check1{background-image:url(../images/shangchengdd_16.png);background-position:left top;background-repeat:no-repeat;background-size:cover;width:15px;height:15px;display:inline-block;vertical-align:middle;margin-right:4px}
.check2{background-image:url(../images/shangchengdd_16.png);background-position:left top;background-repeat:no-repeat;background-size:cover;width:15px;height:15px;display:inline-block;vertical-align:middle;margin-right:4px}
.check_xz{background-image:url(../images/shangchengdd_17.png);background-position:left top;background-repeat:no-repeat;background-size:cover;width:15px;height:15px;display:inline-block;vertical-align:middle;margin-right:4px}
.dqgaojisousuo_4{padding-top:20px;padding-left:7%}
.dqgaojisousuo_4 a{font-size:14px;color:#4c4c4c;margin-right:13px}
.dqgaojisousuo_4 .dqgaojisousuo_4_01{width:108px;height:35px;display:inline-block;background-color:#3099e3;border-radius:5px;text-align:center;line-height:35px;font-size:14px;color:#fff}
.dqgaojisousuo_4 .dqgaojisousuo_4_02{width:106px;height:33px;display:inline-block;background-color:#fff;border:#cecece 1px solid;border-radius:5px;text-align:center;line-height:33px;font-size:14px;color:#4c4c4c}
.dangqiandd_2_down{width:100%;height:55px;position:absolute;z-index:99;top:0;left:0;background-color:#fff}
.dangqiandd_2_down_1{width:62px;float:left;text-align:center;padding-top:22px}
.dangqiandd_2_down_2{width:auto;float:left;padding-right:15px;line-height:55px;font-size:13px;color:#828d9a}
.dangqiandd_2_down_2 span{color:#05ae8d}
.dangqiandd_2_down_3{width:auto;float:left;line-height:55px}
.dangqiandd_2_down_3 a{font-size:12px;color:#828d9a;padding-right:20px}
.dangqiandd_2_down_3 img{vertical-align:middle;margin-right:4px}
.dangqiandd_2_down_3 a:hover{color:#ff5411}
.dqpiliangshenhe_tc{width:100%}
.bj{width:100%;height:100%;position:fixed;z-index:999;top:0;left:0;bottom:0;background-color:rgba(0,0,0,.5)}
.dqpiliangshenhe{width:564px;position:absolute;z-index:999;top:20%;left:50%;margin-left:-282px;background-color:#fff;border-radius:7px;padding-bottom:20px}
.dqpiliangshenhe_01{height:41px;background-image:url(../images/bj_1.gif);background-position:center top;background-repeat:repeat-x;border-radius:5px 5px 0 0;padding:0 20px}
.dqpiliangshenhe_01_left{width:auto;float:left;line-height:41px;font-size:16px;color:#515151}
.dqpiliangshenhe_01_right{width:auto;float:right;padding-top:13px;cursor:pointer}
.dqpiliangshenhe_01_right img{vertical-align:top}
.dqpiliangshenhe_02{margin:0 16px;padding:40px 20px;border-bottom:#e1e1e1 1px solid;font-size:16px;color:#181818;line-height:30px}
.dqpiliangshenhe_02 span{color:red}
.dqpiliangshenhe_03{padding:20px 16px 0 0;text-align:right}
.dqpiliangshenhe_03 a{width:100px;height:33px;display:inline-block;background-color:#44abdd;border-radius:5px;text-align:center;line-height:33px;font-size:14px;color:#fff}
.dqpiliangyichang{width:564px;position:absolute;z-index:999;top:20%;left:50%;margin-left:-282px;background-color:#f5f8f9;border-radius:7px;padding-bottom:20px}
.dqpiliangyichang_02{margin:0 16px;padding:20px 0;border-bottom:#e1e1e1 1px solid;font-size:16px;color:#181818}
.dqpiliangyichang_02 ul li{padding-bottom:10px}
.dqpiliangyichang_02_title{width:118px;float:left;text-align:right;line-height:34px;font-size:13px;color:#4f4f4f}
.dqpiliangyichang_02_title span{color:red}
.dqpiliangyichang_02_tt{width:350px;float:left;padding-left:10px}
.dqpiliangyichang_02_tt span{font-size:13px;color:#4f4f4f;padding-right:12px;line-height:24px}
.dqpiliangyichang_02_tt_leixing{width:348px;height:32px;border:#dde3e6 1px solid;background-color:#fff;border-radius:5px;position:relative}
.dqpiliangyichang_02_tt_leixing_up{width:100%}
.dqpiliangyichang_02_tt_leixing_up_left{width:280px;float:left;padding-left:12px;line-height:32px;font-size:14px;color:#5b5b5b}
.dqpiliangyichang_02_tt_leixing_up_right{width:27px;float:right;padding-top:13px;cursor:pointer}
.dqpiliangyichang_02_tt_leixing_up_right img{vertical-align:top}
.dqpiliangyichang_02_tt_leixing_down{width:348px;position:absolute;z-index:99;top:34px;left:0;border:#dde3e6 1px solid;background-color:#fff;border-radius:5px;padding:5px 0}
.dqpiliangyichang_02_tt_leixing_down a{height:30px;display:block;padding-left:14px;line-height:30px;font-size:14px;color:#444}
.dqpiliangyichang_02_tt_leixing_down a:hover{background-color:#e2f6ff}
.dqpiliangyichang_02_tt textarea{width:328px;height:96px;border:#dde3e6 1px solid;border-radius:7px;padding:10px;background-color:#fff;line-height:24px;font-size:13px;color:#444}
.dqpiliangbeizhu_02{margin:0 16px;padding:20px 0;border-bottom:#e1e1e1 1px solid;font-size:16px;color:#181818}
.dqpiliangbeizhu_02_up{padding:11px 21px;background-color:#fff;border:#c3d4dc 1px solid;font-size:13px;color:#4f4f4f}
.dqpiliangbeizhu_02_up span{color:red}
.dqpiliangbeizhu_02_down{padding-top:20px}
.dqpiliangbeizhu_02_down_left{width:79px;float:left;line-height:34px;font-size:13px;color:#4f4f4f}
.dqpiliangbeizhu_02_down_right{width:auto;float:left}
.dqpiliangbeizhu_02_down_right textarea{width:428px;height:96px;border:#dde3e6 1px solid;border-radius:7px;padding:10px;background-color:#fff;line-height:24px;font-size:13px;color:#444}
.yuandian{text-align:center;position:relative}
.yuandian_1{width:100%;cursor:pointer}
.yuandian_1 span{width:8px;height:8px;display:inline-block;background-color:#dedede;border-radius:100%;margin:0 1px}
.yuandian_tc{width:auto;position:absolute;z-index:999;right:10px;top:20px;background-color:#fff;border:#ececec 1px solid}
.yuandian_tc ul li a{height:35px;width:110px;padding-left:10px;display:block;text-align:left;line-height:35px;font-size:12px;color:#313030}
.yuandian_tc ul li a img{vertical-align:middle;margin-right:3px}
.yuandian_tc ul li:hover a{background-color:#d7ebf5}
.dqyichangcaozuo_02{padding:30px 0;border-bottom:#e1e1e1 1px solid;margin:0 20px}
.dqyichangcaozuo_02_up{line-height:26px;font-size:13px;color:#4f4f4f}
.dqyichangcaozuo_02_up span{color:red}
.dqyichangcaozuo_02_down{padding-top:10px}
.dqyichangcaozuo_02_down_left{width:66px;float:left;font-size:13px;color:#4f4f4f;line-height:34px}
.dqyichangcaozuo_02_down_right{width:auto;float:left;position:relative}
.dqyichangcaozuo_02_down_right_up{width:315px;height:32px;border:#c6c6c6 1px solid;border-radius:5px;background-color:#fff}
.dqyichangcaozuo_02_down_right_up_left{width:273px;float:left;padding-left:13px;line-height:32px;font-size:13px;color:#000}
.dqyichangcaozuo_02_down_right_up_right{width:23px;float:right;padding-top:14px;cursor:pointer}
.dqyichangcaozuo_02_down_right_up_right img{vertical-align:top}
.dqyichangcaozuo_02_down_right_down{width:315px;position:absolute;z-index:99;top:34px;left:0;border:#c6c6c6 1px solid;border-radius:5px;background-color:#fff}
.dqyichangcaozuo_02_down_right_down a{height:30px;display:block;padding-left:20px;line-height:30px;font-size:13px;color:#444}
.dqyichangcaozuo_02_down_right_down a:hover{background-color:#cbe9f8}
.dqtuihuanhuo{width:696px;position:absolute;z-index:999;top:20%;left:50%;margin-left:-348px;background-color:#f5f8f9;padding-bottom:20px;border-radius:7px}
.dqtuihuanhuo_2{padding:20px 0;border-bottom:#e1e1e1 1px solid;margin:0 10px}
.dqtuihuanhuo_2 ul li{padding-bottom:15px}
.dqtuihuanhuo_2_left{width:106px;float:left;line-height:36px;text-align:right;font-size:13px;color:#4f4f4f}
.dqtuihuanhuo_2_left span{color:red}
.dqtuihuanhuo_2_right{width:525px;float:left;padding-left:10px}
.dqtuihuanhuo_2_right_leixing{font-size:13px;line-height:36px;color:#4f4f4f}
.dqtuihuanhuo_2_right_leixing input{width:17px;height:17px;vertical-align:middle}
.dqtuihuanhuo_2_right_yuanyin{width:418px;height:34px;border:#c9d5dc 1px solid;border-radius:5px;background-color:#fff;position:relative}
.dqtuihuanhuo_2_right_yuanyin_up{width:100%}
.dqtuihuanhuo_2_right_yuanyin_up_left{width:380px;float:left;padding-left:10px;line-height:34px;font-size:13px;color:#454545}
.dqtuihuanhuo_2_right_yuanyin_up_right{width:24px;float:right;padding-top:15px;cursor:pointer}
.dqtuihuanhuo_2_right_yuanyin_up_right img{vertical-align:top}
.dqtuihuanhuo_2_right_yuanyin_down{width:418px;position:absolute;z-index:99;top:36px;left:0;border:#c9d5dc 1px solid;background-color:#fff}
.dqtuihuanhuo_2_right_yuanyin_down a{height:30px;display:block;padding-left:15px;line-height:30px;font-size:14px;color:#454545}
.dqtuihuanhuo_2_right_yuanyin_down a:hover{background-color:#d7ebf5}
.dqtuihuanhuo_2_right_shangpin{width:100%;background-color:#fff;font-size:12px;color:#2a2a2a}
.dqtuihuanhuo_2_right_shangpin table{border:#d4d4d4 1px solid;border-collapse:collapse}
.dqtuihuanhuo_2_right_shangpin table tr td{border:#d4d4d4 1px solid}
.dqtuihuanhuo_2_right_shangpin_title{background-image:url(../images/bj_2.gif);background-position:center top;background-repeat:repeat-x}
.dqtuihuanhuo_2_right_shangpin input{width:84px;height:24px;border:#ccc 1px solid;text-align:center;line-height:24px;font-size:12px;color:#2a2a2a}
.dqtuihuanhuo_2_right_jine{width:100%;line-height:36px;font-size:12px;color:#8c8c8c}
.dqtuihuanhuo_2_right_jine input{width:84px;height:34px;border:#c9d5dc 1px solid;background-color:#fff;text-align:center;line-height:24px;font-size:14px;color:red;vertical-align:middle;margin-right:5px}
.dqtuihuanhuo_2_right_pingzheng{width:100%;font-size:12px;color:#665a5a}
.dqtuihuanhuo_2_right_shuoming{width:100%}
.dqtuihuanhuo_2_right_shuoming textarea{width:398px;height:71px;padding:10px;border:#c9d5dc 1px solid;background-color:#fff;line-height:24px;font-size:13px;color:#bebebe}
.dqddxiangqing{position:absolute;z-index:99;top:302px;left:10px;right:10px;background-color:#fff;border:#f4e5bf 1px solid;padding-bottom:30px;min-height:680px}
.dqddxiangqing_up{height:31px;padding-top:7px;background-color:#f9f2df;padding-left:.5%}
.dqddxiangqing_up ul li{float:left;margin-right:3px}
.dqddxiangqing_up ul li a{width:99px;height:31px;display:block;background-image:url(../images/dingdanxx_1.gif);background-position:left top;background-repeat:no-repeat;text-align:center;line-height:31px;font-size:14px;color:#fff}
.dqddxiangqing_up ul li .dqddxiangqing_up_on{background-image:url(../images/dingdanxx_11.gif)}
.dqddxiangqing_down{padding:10px}
.ddxx_jibenxinxi{width:100%}
.ddxx_jibenxinxi_1{width:100%;padding-bottom:10px;font-size:12px;color:#333}
.ddxx_jibenxinxi_1 a{display:inline-block;vertical-align:middle;height:25px;min-width:50px;background-image:url(../images/bj_3.gif);background-position:left top;background-repeat:repeat-x;padding:0 10px;border:#d0d0d0 1px solid;border-radius:5px;text-align:center;line-height:25px;font-size:12px;color:#333;margin-right:10px}
.ddxx_jibenxinxi_2{padding-bottom:15px}
.ddxx_jibenxinxi_2_01{width:24%;float:left;margin-right:1%;border:#e4dbc4 1px solid;border-radius:7px;min-height:268px;background-color:#fffbf0}
.ddxx_jibenxinxi_2_02{width:24%;float:left;margin-right:1%;border:#e4dbc4 1px solid;border-radius:7px;min-height:268px;background-color:#fffbf0}
.ddxx_jibenxinxi_2_03{width:24%;float:left;margin-right:1%;border:#e4dbc4 1px solid;border-radius:7px;height:268px;background-color:#fffbf0}
.ddxx_jibenxinxi_2_04{width:24%;float:left;border:#e4dbc4 1px solid;border-radius:7px;height:268px;background-color:#fffbf0}
.ddxx_jibenxinxi_2_01_up{height:34px;border-bottom:#e4dbc4 1px solid;padding-left:20px;line-height:34px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_2_01_down{width:100%;padding-top:8px}
.ddxx_jibenxinxi_2_01_down ul li{height:24px}
.ddxx_jibenxinxi_2_01_down_left{width:34%;float:left;text-align:right;line-height:22px;font-size:12px;color:#646464;margin-right:.5%}
.ddxx_jibenxinxi_2_01_down_right{width:65%;float:left;line-height:22px;font-size:12px;color:#646464;margin-bottom:5px;}
.ddxx_jibenxinxi_2_01_down_right b{font-size:16px;color:#fe0000}
.ddxx_jibenxinxi_2_02_up{height:34px;border-bottom:#e4dbc4 1px solid;padding:0 20px;line-height:34px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_2_02_up_left{width:auto;float:left;line-height:34px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_2_02_up_right{width:auto;float:right;line-height:34px;font-size:13px;color:#000}
.ddxx_jibenxinxi_2_02_down{width:100%;padding-top:8px}
.ddxx_jibenxinxi_2_02_down ul li{line-height:24px}
.ddxx_jibenxinxi_2_02_down_left{width:28.5%;float:left;margin-right:.5%;text-align:right;line-height:22px;font-size:12px;color:#444}
.ddxx_jibenxinxi_2_02_down_right{width:70%;float:left;line-height:22px;font-size:12px;color:#444}
.ddxx_jibenxinxi_2_03_up{height:34px;border-bottom:#f1ead9 1px solid;padding:0 20px;line-height:34px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_2_03_down{padding:10px;}
.ddxx_jibenxinxi_2_03_down_1{padding-bottom:10px;border-bottom:#e5e1d8 1px solid}
.ddxx_jibenxinxi_2_03_down_1 ul li{line-height:24px}
.ddxx_jibenxinxi_2_03_down_2{padding-top:8px}
.ddxx_jibenxinxi_2_03_down_2 ul li{height:24px}
.ddxx_jibenxinxi_2_04_up{height:34px;border-bottom:#f1ead9 1px solid;padding:0 2%}
.ddxx_jibenxinxi_2_04_up_left{width:auto;float:left;line-height:34px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_2_04_up_left img{vertical-align:middle;margin-left:5px}
.ddxx_jibenxinxi_2_04_up_right{width:auto;float:right;line-height:34px;position:relative}
.ddxx_jibenxinxi_2_04_up_right a{padding:0 5px;height:24px;display:inline-block;vertical-align:middle;background-color:#fffdef;border:#bfb7a4 1px solid;border-radius:3px;text-align:center;line-height:24px;font-size:12px;color:#343434}
.ddxx_jibenxinxi_2_04_up_right img{vertical-align:middle}
.ddxx_jibenxinxi_2_04_up_right_tc{width:208px;height:93px;background-color:#fff;border:#e3cc90 1px solid;border-radius:7px;position:absolute;z-index:99;top:34px;right:0;padding:10px;font-size:12px;color:#343434;line-height:20px;display:none}
.ddxx_jibenxinxi_2_04_down{padding-top:10px}
.ddxx_jibenxinxi_2_04_down ul li{line-height:24px}
.ddxx_jibenxinxi_3{padding-bottom:10px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_3 span{color:red}
.ddxx_jibenxinxi_4{padding-bottom:14px}
.ddxx_jibenxinxi_4_up{height:25px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_4_down{width:100%;background-color:#fff;font-size:12px;color:#2a2a2a}
.ddxx_jibenxinxi_4_down table{border:#e0e0e0 1px solid;border-collapse:collapse}
.ddxx_jibenxinxi_4_down table tr td{border:#e0e0e0 1px solid}
.ddxx_jibenxinxi_4_down_bj{background-image:url(../images/bj_2.gif);background-position:center bottom;background-repeat:repeat-x}
.ddxx_jibenxinxi_5{padding-bottom:10px}
.ddxx_jibenxinxi_5_up{height:27px;font-size:13px;color:#333}
.ddxx_jibenxinxi_5_down{border:#e3dac3 1px solid;border-radius:7px;background-color:#fffbf0;padding:12px 44px}
.ddxx_jibenxinxi_5_down_01{height:25px;font-size:13px;color:#333}
.ddxx_jibenxinxi_5_down_02{width:100%}
.ddxx_jibenxinxi_5_down_02_left{width:66px;float:left;line-height:20px;font-size:13px;color:#333}
.ddxx_jibenxinxi_5_down_02_right{width:auto;float:left}
.ddxx_jibenxinxi_5_down_02_right textarea{width:555px;height:25px;border:#dbdada 1px solid;background-color:#fff;border-radius:5px;padding:10px}
.ddxx_jibenxinxi_5_down_03{padding-top:12px;padding-left:70px}
.ddxx_jibenxinxi_5_down_03 a{width:70px;height:25px;display:inline-block;background-color:#e1a605;border-radius:5px;text-align:center;line-height:25px;font-size:13px;color:#fff}
.weizhifu_jibenxinxi_bianji_1{padding:10px;text-align:right}
.weizhifu_jibenxinxi_bianji_1 a{display:inline-block;margin-left:10px}
.weizhifu_jibenxinxi_bianji_1 .weizhifu_jibenxinxi_bianji_1_01{width:96px;height:33px;background-color:#ffa400;border-radius:5px;text-align:center;line-height:33px;font-size:14px;color:#fff}
.weizhifu_jibenxinxi_bianji_1 .weizhifu_jibenxinxi_bianji_1_02{width:94px;height:31px;border:#d0d0d0 1px solid;border-radius:5px;text-align:center;line-height:33px;font-size:14px;color:#343434}
.ddxx_jibenxinxi_2_01_down_right input.ddxx_jibenxinxi_2_02_down_right_input{width:80%;height:22px;border:#d0cfcf 1px solid;background-color:#fff;border-radius:5px;padding-left:2%;line-height:22px;font-size:12px;color:#444;vertical-align:middle}
.ddxx_jibenxinxi_2_02_down_right_radio{width:17px;height:17px;vertical-align:middle}
.ddxx_jibenxinxi_2_02_down_right_input{width:90%;height:22px;border:#d0cfcf 1px solid;background-color:#fff;border-radius:5px;padding-left:2%;line-height:22px;font-size:12px;color:#444;vertical-align:middle}
.ddxx_yichangchuli{width:100%}
.ddxx_yichangchuli_1{height:33px;font-size:14px;color:#636363;font-weight:700}
.ddxx_yichangchuli_2{width:100%;font-size:14px;color:#555;margin-bottom:10px;}
.ddxx_yichangchuli_2 table{border:#d1dce4 1px solid;border-collapse:collapse}
.ddxx_yichangchuli_2 table tr td{border:#d1dce4 1px solid}
.ddxx_yichangchuli_2_02{padding-left:10%}
.ddxx_yichangchuli_2_02 input{vertical-align:middle;width:228px;height:30px;padding-left:10px;border:#adc0ca 1px solid;border-radius:5px;line-height:30px}
.ddxx_yichangchuli_2_02 a{display:inline-block;vertical-align:middle;margin-left:11px}
.ddxx_yichangchuli_2_02 .ddxx_yichangchuli_2_02_1{width:90px;height:29px;border:#c9c9c9 1px solid;border-radius:5px;text-align:center;line-height:29px;background-image:url(../images/bj_3.gif);background-position:left bottom;background-repeat:repeat-x;font-size:13px;color:#606060}
.ddxx_yichangchuli_2_02 .ddxx_yichangchuli_2_02_2{width:90px;height:29px;border:#15cb96 1px solid;border-radius:5px;text-align:center;line-height:29px;background-color:#15cb96;font-size:14px;color:#fff}
.ddxx_yichangchuli_wu{width:100%}
.ddxx_yichangchuli_wu_1{height:33px;font-size:14px;color:#636363;font-weight:700}
.ddxx_yichangchuli_wu_1 a{width:94px;height:25px;display:inline-block;vertical-align:middle;margin-left:10px;border:#d0d0d0 1px solid;border-radius:5px;text-align:center;line-height:25px;background-image:url(../images/bj_2.gif);background-position:left bottom;background-repeat:repeat-x;font-size:12px;color:#363636}
.ddxx_yichangchuli_wu_2{padding-left:20px;font-size:13px;color:#636363;padding-bottom:20px}
.ddxx_yichangchuli_wu_2 img{vertical-align:middle}
.ddxx_tuihuanhuoguanli{width:100%;padding-top:10px}
.ddxx_tuihuanhuoguanli_1{height:33px;font-size:14px;color:#404040;font-weight:700}
.ddxx_tuihuanhuoguanli_1 span{font-size:16px;color:red}
.ddxx_tuihuanhuoguanli_2{padding-bottom:20px}
.ddxx_tuihuanhuoguanli_2 table{border:#ded5bd 1px solid;border-collapse:collapse}
.ddxx_tuihuanhuoguanli_2 table tr td{border:#ded5bd 1px solid}
.ddxx_tuihuanhuoguanli_2_title{background-image:url(../images/bj_2.gif);background-position:left bottom;background-repeat:repeat-x}
.ddxx_tuihuanhuoguanli_3{padding-bottom:20px;font-size:13px;color:#4f4f4f}
.ddxx_tuihuanhuoguanli_3 table{border:#c8dae3 1px solid;border-collapse:collapse}
.ddxx_tuihuanhuoguanli_3 table tr td{border:#c8dae3 1px solid}
.ddxx_tuihuanhuoguanli_3_03{padding-left:10%}
.ddxx_tuihuanhuoguanli_3_03 input{vertical-align:middle;width:228px;height:30px;padding-left:10px;border:#adc0ca 1px solid;border-radius:5px;line-height:30px}
.ddxx_tuihuanhuoguanli_3_03 a{display:inline-block;vertical-align:middle;margin-left:11px}
.ddxx_tuihuanhuoguanli_3_03 .ddxx_tuihuanhuoguanli_3_03_3{width:90px;height:29px;border:#c9c9c9 1px solid;border-radius:3px;text-align:center;line-height:29px;background-image:url(../images/bj_3.gif);background-position:left bottom;background-repeat:repeat-x;font-size:13px;color:#606060}
.ddxx_tuihuanhuoguanli_3_03 .ddxx_tuihuanhuoguanli_3_03_2{width:90px;height:29px;border:#e6ae18 1px solid;border-radius:3px;text-align:center;line-height:29px;background-color:#e6ae18;font-size:14px;color:#fff}
.ddxx_tuihuanhuoguanli_3_03 .ddxx_tuihuanhuoguanli_3_03_1{width:90px;height:29px;border:#15cb96 1px solid;border-radius:3px;text-align:center;line-height:29px;background-color:#15cb96;font-size:14px;color:#fff}
.ddxx_dingdanfuwu{padding-top:10px}
.ddxx_dingdanfuwu_1{padding-bottom:10px}
.ddxx_dingdanfuwu_1_up{padding-bottom:20px;font-size:14px;color:#4e4e4e}
.ddxx_dingdanfuwu_1_up a{display:inline-block;vertical-align:middle;margin-left:8px;padding:0 10px;height:29px;background-image:url(../images/bj_3.gif);background-position:center bottom;background-repeat:repeat-x;border:#cacaca 1px solid;border-radius:5px;text-align:center;line-height:29px;font-size:14px;color:#4e4e4e}
.ddxx_dingdanfuwu_1_down{padding-bottom:20px;font-size:13px;color:#4f4f4f}
.ddxx_dingdanfuwu_1_down table{border:#c8dae3 1px solid;border-collapse:collapse}
.ddxx_dingdanfuwu_1_down table tr td{border:#c8dae3 1px solid}
.ddxx_dingdanfuwu_1_down a{width:81px;height:29px;display:inline-block;background-color:#ff9c00;border-radius:5px;text-align:center;line-height:29px;font-size:13px;color:#fff}
.ddxx_dingdanfuwu_1_down a.btn{background-color:#ddd;color:#777;margin-left:10px;}
.ddxx_dingdanfuwu_2{padding-bottom:10px}
.ddxx_dingdanfuwu_2_up{height:28px;font-size:13px;color:#474747}
.ddxx_dingdanfuwu_2_down{width:100%}
.ddxx_dingdanfuwu_2_down table{border:#c8dae3 1px solid;border-collapse:collapse}
.ddxx_dingdanfuwu_2_down table tr td{border:#c8dae3 1px solid}
.ddxx_dingdanfuwu_2_down_title{background-image:url(../images/bj_3.gif);background-position:left bottom;background-repeat:repeat-x}
.ddxx_caozuojilu{padding-top:10px}
.ddxx_caozuojilu_1{padding-bottom:12px}
.ddxx_caozuojilu_1_up{padding-bottom:12px;font-size:14px;color:#555;font-weight:700}
.ddxx_caozuojilu_1_up span{color:#32b3e9}
.huanhuo_dshwuliu_tc{width:77%;position:absolute;z-index:9999;top:40%;right:1.5%;border:#65b7e3 1px solid;background-color:#fff;padding:10px 0}
.huanhuo_dshwuliu_tc ul li{border-bottom:#e2e2e2 1px dashed;padding-left:5%;line-height:35px;font-size:12px;color:#686868}
.huanhuo_dshwuliu_tc ul li .huanhuo_dshwuliu_tc_on{color:red}
.ddxx_tuihuanhuoguanli_dafahuo{width:100%;padding-bottom:10px;font-size:13px;color:#868686}
.ddxx_tuihuanhuoguanli_dafahuo table{border:#d8d8d8 1px solid;border-collapse:collapse}
.ddxx_tuihuanhuoguanli_dafahuo table tr td{border:#d8d8d8 1px solid}
.ddxx_tuihuanhuoguanli_dafahuo_title{background-image:url(../images/bj_3.gif);background-position:center bottom;background-repeat:repeat-x}
.ddxx_tuihuanhuoguanli_dafahuo_xuanzesp{padding-bottom:12px}
.ddxx_tuihuanhuoguanli_dafahuo_xuanzesp a{width:116px;height:28px;display:inline-block;border:#dfd1ab 1px solid;background-image:url(../images/bj_4.gif);background-position:left top;background-repeat:repeat-x;border-radius:5px;text-align:center;line-height:28px;font-size:14px;color:#494949}
.xuanzeshangpin_tc{width:80%;position:absolute;z-index:9999;top:115px;right:0;background-color:#fff;padding:20px 0}
.xuanzeshangpin_1{padding:0 20px 20px}
.xuanzeshangpin_1_01{width:auto;float:left;padding-right:20px;line-height:37px;font-size:18px;color:#5a6c75}
.xuanzeshangpin_1_02{width:auto;float:left;position:relative;margin-right:20px}
.xuanzeshangpin_1_02_1{height:37px;line-height:37px;font-size:13px;color:#5a6c75}
.xuanzeshangpin_1_02_2{width:120px;position:absolute;z-index:99;top:37px;left:0;background-color:#fff;border:#d7ebf5 1px solid}
.xuanzeshangpin_1_02_2 a{height:30px;display:block;line-height:30px;padding-left:10px;font-size:13px;color:#444}
.xuanzeshangpin_1_02_2 a:hover{background-color:#d7ebf5}
.xuanzeshangpin_1_03{width:295px;height:35px;float:left;border:#dfdfdf 1px solid}
.xuanzeshangpin_1_03_left{width:240px;float:left;padding-left:10px}
.xuanzeshangpin_1_03_left input{width:295px;height:35px;border:none;background:0 0;line-height:35px;outline:0;font-size:13px;color:#333}
.xuanzeshangpin_1_03_right{width:35px;height:28px;float:right;background-color:#eff3f6;text-align:center;padding-top:7px}
.xuanzeshangpin_1_03_right img{vertical-align:middle}
.xuanzeshangpin_2{padding:0 20px 40px;border-bottom:#e5e5e5 1px solid}
.xuanzeshangpin_2_title{padding-left:2%;border-left:#ebf9ff 1px solid;font-size:13px;color:#464646}
.xuanzeshangpin_2_tt{padding-left:2%;border-bottom:#e8e8e8 1px solid;font-size:13px;color:#464646}
.xuanzeshangpin_3{padding-top:28px;padding-left:30px}
.xuanzeshangpin_3 a{display:inline-block;margin-right:13px;width:113px;height:38px;border-radius:5px;text-align:center;line-height:38px;font-size:14px;color:#585757}
.xuanzeshangpin_3 .xuanzeshangpin_3_01{background-color:#29a4e0;border:#29a4e0 1px solid;color:#fff}
.xuanzeshangpin_3 .xuanzeshangpin_3_02{background-color:#fff;border:#bfbfbf 1px solid}
.thh_dfhqueren_tc{width:100%}
.thh_dfhqueren_02_3{padding-top:10px}
.thh_dfhqueren_02_3_right{width:auto;float:left}
.thh_dfhqueren_02_3_right input{width:305px;height:31px;border:#c6c6c6 1px solid;background-color:#fff;border-radius:5px;padding-left:10px;line-height:31px;font-size:13px;color:#444}
.dangqiandd_2_up_right_adddingdanfuwu{width:auto;float:left}
.dangqiandd_2_up_right_adddingdanfuwu a{width:120px;height:35px;display:inline-block;background-color:#ff9c00;border-radius:5px;text-align:center;line-height:35px;font-size:15px;color:#fff;margin-top:13px;}
.ddfw_adddingdangfuwu{width:100%}
.ddfw_adddingdangfuwu{width:696px;position:fixed;z-index:999;top:5%;left:50%;margin-left:-348px;background-color:#f5f8f9;padding-bottom:20px;border-radius:7px}
.ddfw_adddingdangfuwu1{padding:20px 0;margin:0 15px;border-bottom:#e1e1e1 1px solid;height:444px;overflow-y:auto;overflow-x:hidden}
.ddfw_adddingdangfuwu1_1{width:100%}
.ddfw_adddingdangfuwu1_1 ul li{padding-bottom:5px}
.ddfw_adddingdangfuwu1_1_title{width:134px;float:left;text-align:right;line-height:36px;font-size:13px;color:#4f4f4f}
.ddfw_adddingdangfuwu1_1_title span{color:#fc0000}
.ddfw_adddingdangfuwu1_1_tt{padding-left:10px;float:left;line-height:36px;font-size:13px;color:#4f4f4f}
.ddfw_adddingdangfuwu1_1_tt span{color:#fc0000}
.ddfw_adddingdangfuwu1_1_tt input{padding-left:10px;width:87px;height:34px;border:#dde3e6 1px solid;background-color:#fff;line-height:34px;font-size:13px;color:#414141;vertical-align:middle}
.ddfw_adddingdangfuwu1_1_tt select{height:36px;border:#dde3e6 1px solid;padding-left:6px;}
.ddfw_adddingdangfuwu1_2{padding-bottom:10px}
.ddfw_adddingdangfuwu1_2_up{padding-bottom:14px;font-size:14px;color:#4f4f4f;font-weight:700}
.ddfw_adddingdangfuwu1_2_down{width:100%}
.ddfw_adddingdangfuwu1_2_down ul li{padding-bottom:5px}
.ddfw_adddingdangfuwu1_1_tt textarea{padding-left:10px;width:400px;height:94px;border:#dde3e6 1px solid;background-color:#fff;line-height:34px;font-size:13px;color:#414141;vertical-align:middle}
.ddfw_piliangfenpei1{padding:30px 0;margin:0 15px;border-bottom:#e1e1e1 1px solid}
.ddfw_piliangfenpei1 ul li{padding-bottom:10px}
.content_pingjia{padding:26px 20px 20px;background-color:#fff;border-bottom:#d7ebf5 13px solid}
.content_pingjia_up{padding-bottom:10px}
.content_pingjia_up ul li{padding-bottom:10px;float:left;width:45%}
.content_pingjia_up_left{width:20%;float:left;text-align:right;line-height:32px;font-size:13px;color:#333;margin-right:.5%}
.content_pingjia_up_right{width:79%;float:left;line-height:32px;font-size:13px;color:#333}
.content_pingjia_up_right input{width:80%;padding-left:2%;height:30px;border:#b7b7b7 1px solid;border-radius:5px;line-height:30px;font-size:13px;color:#a2a2a2}
.content_pingjia_up_right_shijian{width:80%;padding-left:2%;height:30px;border:#b7b7b7 1px solid;border-radius:5px}
.content_pingjia_up_right_shijian_left{width:80%;float:left;text-align:center;line-height:30px;font-size:13px;color:#636363}
.content_pingjia_up_right_shijian_right{width:25px;float:right;padding-top:7px}
.content_pingjia_up_right_shijian_right img{vertical-align:top}
.content_pingjia_up_right .content_pingjia_up_right_radio{width:13px;height:13px;vertical-align:middle}
.content_pingjia_down{padding-left:10%}
.content_pingjia_down a{width:92px;height:31px;display:inline-block;background-color:#53b0de;border-radius:5px;text-align:center;line-height:31px;font-size:13px;color:#fff}
.dangqiandd_2_pinglun{line-height:30px;font-size:14px;color:#4c4c4c}
.dangqiandd_2_pinglun a{display:inline-block;margin-left:15px;vertical-align:middle;width:77px;height:24px;background-color:#e4e4e4;border-radius:3px;text-align:center;line-height:24px;font-size:14px;color:#5b5b5b}
.dangqiandd_2_pinglun .dangqiandd_2_pinglun_on{background-color:#ffa800;color:#fff}
.pingjia_td{padding:20px 0}
.pjddhuifu{width:564px;position:absolute;z-index:999;top:30%;left:50%;margin-left:-282px;background-color:#f5f8f9;border-radius:7px;padding-bottom:20px}
.pjdd_huifu_left{width:86px;float:left;line-height:30px;font-size:13px;color:#4f4f4f}
.pjdd_huifu_left span{color:red}
.pjdd_huifu_right{width:380px;float:left}
.pjdd_huifu_right textarea{width:360px;height:120px;padding:10px;border:#dde3e6 1px solid;background-color:#fff;border-radius:5px;font-size:13px;color:#444}
.content_guidang{padding:26px 20px 20px;background-color:#fff;border-bottom:#d7ebf5 13px solid}
.content_guidang ul li{padding-bottom:10px}
.content_guidang_left{width:86px;float:left;text-align:right;line-height:32px;padding-right:10px;font-size:13px;color:#000}
.content_guidang_right{width:auto;float:left}
.content_guidang_right_tiaojian_1{width:109px;float:left;position:relative}
.content_guidang_right_tiaojian_1_up{width:92px;height:30px;border:#b7b7b7 1px solid;border-radius:5px;padding-left:10px;position:relative;line-height:30px;font-size:13px;color:#000}
.content_guidang_right_tiaojian_1_up img{width:9px;height:6px;position:absolute;z-index:99;top:11px;right:10px}
.content_guidang_right_tiaojian_1_down{width:102px;border:#b7b7b7 1px solid;background-color:#fff;position:absolute;z-index:99;top:32px;left:0}
.content_guidang_right_tiaojian_1_down a{height:30px;display:block;padding-left:10px;line-height:30px;font-size:13px;color:#444}
.content_guidang_right_tiaojian_1_down a:hover{background-color:#d7ebf5}
.content_guidang_right_tiaojian_2{width:auto;float:left}
.content_guidang_right_tiaojian_2 input{width:219px;height:30px;border:#b7b7b7 1px solid;border-radius:5px;padding-left:10px;line-height:30px;font-size:13px;color:#333}
.content_guidang_right_shijian{width:329px;height:30px;border:#b7b7b7 1px solid;border-radius:5px;padding-left:10px;line-height:30px;position:relative;font-size:13px;color:#000}
.content_guidang_right_shijian img{width:16px;height:16px;position:absolute;z-index:99;top:6px;right:10px}
.content_guidang_tijiao{padding-left:96px}
.content_guidang_tijiao a{width:92px;height:31px;display:inline-block;background-color:#53b0de;border-radius:5px;text-align:center;line-height:31px;font-size:13px;color:#fff}
.dq_dingdan_button{margin-left:5px;transition:.2s;}
.dqdd_fh_zhuangtai{width:18px;height:18px;display:inline-block;vertical-align:middle;margin-right:4px;text-align:center;line-height:18px;font-size:12px;color:#fff}
.dangqiandd_1 ul li a span{display:inline-block;vertical-align:middle;margin-left:4px;width:19px;height:19px;background-color:#ff7800;border-radius:3px;text-align:center;line-height:19px;font-size:14px;color:#fff}
.dqdd_kehebingdd{padding-top:20px}
.dqdd_kehebingdd_1{height:45px;border-bottom:#dce2e5 1px solid}
.dqdd_kehebingdd_1 ul li{float:left}
.dqdd_kehebingdd_1 ul li a{width:154px;height:45px;display:block;text-align:center;line-height:45px;font-size:14px;color:#464646}
.dqdd_kehebingdd_1 ul li .dqdd_kehebingdd_1_on{border-bottom:#ff6519 1px solid;color:#ff6519}
.dqdd_kehebingdd_2{padding:13px}
.dqdd_kehebingdd_2_01{width:106px;float:left;height:32px;line-height:32px;font-size:13px;color:#464646}
.dqdd_kehebingdd_2_02{width:302px;float:left}
.dqdd_kehebingdd_2_02_1{width:217px;height:30px;float:left;border:#aecddd 1px solid;border-radius:3px}
.dqdd_kehebingdd_2_02_1 input{width:207px;height:30px;border:none;background:0 0;outline:0;padding-left:10px;line-height:30px;font-size:13px;color:#b2b2b2}
.dqdd_kehebingdd_2_02_2{margin-left:2px;float:left}
.dqdd_kehebingdd_2_02_2 a{width:65px;height:30px;display:inline-block;border:#aecddd 1px solid;background-color:#f7f7f7;border-radius:3px;text-align:center;line-height:30px;font-size:14px;color:#464646}
.dqdd_kehebingdd_2_02_2 a img{vertical-align:middle}
.dqdd_kehebingdd_2_03{width:auto;float:left}
.dqdd_kehebingdd_2_03 a{width:130px;height:32px;display:inline-block;background-color:#ff6519;border-radius:3px;text-align:center;line-height:30px;font-size:14px;color:#fff}
.dqdd_kehebingdd_2_03 a img{vertical-align:middle}
.dqdd_kehebingdd_3{border:#ffde89 2px solid;margin-bottom:12px}
.dqdd_kehebingdd_3_up{height:47px;background-color:#ffde89;padding:0 39px;font-size:14px;color:#414857;font-weight:700;line-height:47px}
.dqdd_kehebingdd_3_up a{display:inline-block;width:105px;height:30px;background-color:#106c99;border-radius:5px;text-align:center;line-height:30px;color:#fff}
.dqdd_kehebingdd_3_down{width:100%}
.dqdd_kechaifendd_2_01{width:auto;float:left;height:32px;padding-right:20px;line-height:32px;font-size:13px;color:#464646}
.dqdd_kechaifendd_2_01 select{width:48px;height:30px;border:#aecddd 1px solid;outline:0;padding-left:10px;line-height:30px;font-size:13px;color:#464646}
.dqdd_kechaifendd_2_01 input{width:50px;height:30px;border:#aecddd 1px solid;outline:0;padding-left:10px;line-height:30px;font-size:13px;color:#464646}
.dqdd_kechaifendd_3{width:100%}
.ddxx_jibenxinxi_5_up_chaifen{padding:4px 0;font-size:12px;color:#333}
.ddxx_jibenxinxi_5_up_chaifen input{width:612px;height:34px;border:silver 1px solid;outline:0;line-height:34px;padding-left:10px;font-size:13px;color:#333}
.ddxx_jibenxinxi_5_chaifen{padding-left:80px;font-size:13px;color:#4e4e4e}
.ddxx_jibenxinxi_5_chaifen b{color:red;font-weight:400}
.ddxx_jibenxinxi_5_chaifen span{color:#3a8fdf}
.ddxx_jibenxinxi_5_chaifen a{display:inline-block;vertical-align:middle;margin-right:7px;width:104px;height:30px;background-color:#19a1e7;border-radius:5px;text-align:center;line-height:30px;font-size:15px;color:#fff}
.qhdd_yibuhuo_1{width:auto;float:left;padding-right:20px}
.qhdd_yibuhuo_1 a{display:inline-block;width:83px;height:32px;background-color:#58b7e6;border-radius:3px;text-align:center;line-height:32px;font-size:13px;color:#fff}
.qhdd_yibuhuo_2{width:120px;display: inline-block;padding-top:15px;}
.qhdd_yibuhuo_2 a{display:inline-block;width:120px;height:32px;background-color:#ff6c00;border-radius:3px;text-align:center;line-height:32px;font-size:13px;color:#fff}
.qhdd_yibuhuo_2 a img{vertical-align:middle}
.layui-table-fixed .layui-table-cell{display: table-cell;vertical-align:middle;}
.quehuo_span{padding:0 13px;height:18px;display:inline-block;background-color:#d5d5d5;vertical-align:middle; text-align:center;line-height:18px;font-size:12px;color:#ffffff;margin-top:5px;}
.dingjinys{width:100%}
.dingjinys_1{height:46px;border-bottom:#e2e2e2 1px solid;background-color:#f2f4f9;padding:0 15px;margin-top:-11px}
.dingjinys_1 ul li{float:left}
.dingjinys_1 ul li a{display:block;height:45px;padding:0 20px;width:auto;text-align:center;line-height:45px;font-size:14px;color:#343434}
.dingjinys_1 ul li .dingjinys_1_on{border-bottom:#58b7e6 2px solid;color:#57a3cc}
.dingjinys_2{padding:0 15px}
.dingjinys_2_marginRight{margin-right:20px}
.dingjinys_2_01{width:auto;float:left;position:relative}
.dingjinys_2_02{width:auto;float:left;position:relative;padding-top:17px}
.dingjinys_2_02_up{width:112px;height:26px;border:#c4c4c4 1px solid;border-radius:3px;text-align:center;line-height:26px;cursor:pointer}
.dingjinys_2_02_up img{vertical-align:middle;margin-left:9px}
.dingjinys_2_03{width:257px;height:26px;float:left;margin-top:17px;border:#c4c4c4 1px solid;border-radius:3px}
.dingjinys_2_03_left{width:232px;float:left;text-align:center;line-height:26px;font-size:13px;color:#a0a0a0}
.dingjinys_2_03_right{width:24px;float:right;padding-top:6px}
.dingjinys_2_03_right img{vertical-align:top}
.dingjinys_2_04{width:210px;height:26px;float:left;margin-top:17px;border:#c4c4c4 1px solid;border-radius:3px}
.dingjinys_2_04 input{width:200px;height:26px;padding-left:10px;border:none;background:0 0;outline:0;line-height:26px;font-size:13px;color:#a0a0a0}
.dingjinys_2_05{width:auto;float:left;padding-top:17px}
.dingjinys_2_05 a{width:83px;height:28px;display:inline-block;background-color:#58b7e6;border-radius:3px;text-align:center;line-height:28px;font-size:13px;color:#fff}
.dingjinys_3{width:99%;margin:0 auto;position:relative}
.dingjinys_weikaishi{overflow-x:auto;font-size:13px;color:#464646}
.dingjinys_weikaishi table{table-layout:fixed}
.ys_table_title_line{border-right:#ebf9ff 1px solid}
.ys_table_tt_line{border-bottom:#e8e8e8 1px solid}
.dingjinys_weikaishi table tbody tr:hover td{background-color:#fff9e9}
.ys_table_tt_line span{color:red}
