.back,.back1,.return{height:30px;padding:17px 0 0 16px;background-color:#fff}
.back1{margin-bottom:4px}
.back div,.back1 div{float:left;padding-left:15px;font-size:16px;color:#515151;line-height:16px}
.cont_switch{height:45px;margin-top:4px;padding:4px 22px;background-image:url(../images/switch_bg.gif);background-repeat:repeat-x;background-color:#fff;border-left:2px;border-top:1px;border-right:1px;border-color:#fff;border-style:solid}
.cont_switch ul li{float:left;padding-right:4px}
.cont{padding:0 46px 0 23px;background-color:#fff}
.operate{height:77px;background-color:#fff}
.more_operate{width:110px;border:1px #cfcfcf solid;position:absolute;background-color:#fff;z-index:888}
.more_operate ul li{height:40px;line-height:40px}
.more_operate ul li:hover{background-color:#ebf5fa}
.more_operate ul li span{display:inline-block;width:40px;text-align:center;vertical-align:middle}
.search_classes{float:left;padding-top:29px;position:relative}
.classes_show,.screen{padding-left:8px}
.classes_show div,.screen div{float:left;padding-right:15px;font-size:14px;line-height:14px;color:#5c6366}
.classes_show div img,.screen div img{padding-top:4px}
.classes_hide{width:83px;border:1px #e3e3e3 solid;background-color:#fff;margin-top:4px;display:none;position:absolute}
.classes_hide ul{padding-top:8px;padding-bottom:10px}
.classes_hide ul li{font-size:14px;line-height:33px;text-align:center}
.classes_hide ul li:hover a{display:block;color:#64bce6;background-color:#ebf5fa}
.classes_hide2{border:1px #e3e3e3 solid;background-color:#fff;margin-top:4px;position:absolute}
.classes_hide2 ul{float:left;padding-top:8px;padding-bottom:10px}
.classes_hide2 ul li{width:166px}
.classes_hide2 ul li a{display:block;padding-left:26px;padding-right:30px;font-size:13px;line-height:38px;text-align:left;background-image:url(../images/right.png);background-repeat:no-repeat;background-position:128px 15px}
.classes_hide2 ul li:hover a{color:#64bce6;background-color:#ebf5fa}
.date{float:left;width:295px;height:35px;border:1px silver solid;margin-top:19px;margin-left:17px}
.date_num{float:left;padding-left:27px;font-size:12px;color:#6d6d6d;line-height:35px}
.date_num a{padding:0 15px}
.date_calendar{float:right;padding:9px 12px 0 0}
.search{float:left;padding:29px 0 0 18px}
.search1,.search2{margin-top:15px;float:right;padding-right:20px;position:relative}
.search2{float:left;margin:20px 0 0 30px}
.search a{font-size:13px;color:#949494}
.export{float:right;width:93px;display:inline-block;}
.export a{margin-top:13px;float:right;width:91px;height:36px;border:1px #c2c2c2 solid;border-radius:5px;font-size:13px;line-height:36px;text-align:center;color:#323333}
.add{margin-top:25px;padding-left:23px;float:right}
.mun,.mun1{width:100%;padding-bottom:15px}
.mun ul li{margin-right:2.15%;width:31.9%;height:132px;float:left}
.mun1 ul li{margin-right:.45%;width:13.9%;height:132px;float:left;border-radius:8px;cursor:pointer;}
.b_num{font-size:35px;line-height:35px;text-align:center;padding-top:36px;color:#fff}
.b_num1{font-size:30px;line-height:30px;text-align:center;padding-top:40px;color:#fff}
.mun_tt{font-size:18px;line-height:36px;text-align:center;color:#fff;text-align:center;padding-top:10px}
.mun_tt1{font-size:16px;line-height:16px;text-align:center;color:#fff;text-align:center;padding-top:20px}
.purchase_list2 table,.purchase_list3 table{table-layout:fixed;margin-right:40px;min-width:100%;}
.purchase_list2 table tr:hover{background-color:#d7ebf5}
.list_td1,.list_td2,.list_td5{font-size:13px;line-height:43px;color:#464646;padding-left:14px}
.list_td1{border-right:1px #ebf9ff solid}
.list_td2,.list_td5{font-size:13px;line-height:52px;color:#555;border-bottom:1px #eff3f6 solid}
.list_td5{line-height:60px}
.list_td5 span{color:#ff2525}
.list_td4{padding-left:14px;font-size:13px;line-height:60px;color:#ff2525;border-bottom:1px #eff3f6 solid}
.list_td3{font-size:13px;line-height:60px;color:#cacaca;border-bottom:1px #eff3f6 solid;padding-left:14px}
.add_wlz a{height:38px;font-size:13px;line-height:38px;text-align:center;color:#fff;margin-top:25px;margin-left:23px;float:right;background-color:#ffa531;border-radius:5px;padding:0 30px}
.jieshuanmx{font-size:13px;color:#555;padding:30px 0px 30px 32px}
.jieshuanmx_1 div{float:left;padding-right:45px}
.jieshuanmx ul{padding-top:37px}
.jieshuanmx ul li{padding-bottom:26px}
.jieshuanmx span{padding-right:5px}
.jieshuanmx_left{display:inherit;float:left;width:80px;text-align:right}
.add_account{padding-top:13px}
.account_h{line-height:20px}
.acnt_back{padding-right:14px;vertical-align:middle}
.acnt_tt{font-size:16px;color:#464646;line-height:16px}
.account_way{padding:31px 0 0 19px}
.account_way ul li{margin-bottom:17px}
.way_check{padding-right:15px;vertical-align:middle}
.way_h{font-size:14px;color:#464646;line-height:14px}
.way_tt{padding-top:4px;font-size:14px;color:#a3a3a3}
.account_way2{padding-top:30px}
.account_cont{padding-top:68px;padding-bottom:80px;}
.account_cont_left{float:left}
.account_cont_left ul li,.account_cont_right ul li{position:relative;padding-bottom:11px}
.account_input{padding-left:13px;width:347px;height:36px;border:1px #c5cfd2 solid;border-radius:5px;font-size:13px;color:#686868;line-height:36px}
.cont_left_tt{width:120px;text-align:right;padding-right:15px;float:left;font-size:13px;color:#555;line-height:38px}
.must{color:#ff3131;padding-right:9px}
.cont_left_input{float:left}
.time{float:left;position:absolute;left:465px;top:10px}
.qiankuan{float:left;padding-left:12px;font-size:13px;color:#484848;line-height:38px}
.account_cont_right{float:left;padding-top:48px}
.account_save{padding:40px 0 300px 137px}
.order_choice{margin-top:22px}
.account_total{width:100%;height:55px;background-color:#fdf9ea}
.account_total1{text-align:right;font-size:13px;color:#5d5d5d;line-height:55px;margin-right:130px}
.add_gys{float:right;padding:16px 45px 0 0}
.cont_h{padding:46px 0 38px 0;font-size:16px;color:#35a6dd;line-height:16px}
.provider_tr{margin-bottom:10px}
.provider_left_tt{width:120px;text-align:right;padding-right:40px;float:left;font-size:13px;color:#555;line-height:38px}
.cont_left_input1{float:left;width:70%}
.provider_input{padding-left:13px;width:100%;height:36px;border:1px #c5cfd2 solid;border-radius:5px;font-size:13px;color:#686868;line-height:36px}
.provider_td{padding-bottom:10px}
.cont_left_check{float:left;padding-top:10px}
.provider_save{padding:35px 0 130px 134px}
.provider_save1{padding-right:30px}
.cont_sup_details{padding-bottom:20px}
.cont_h1,.cont_h2{padding:46px 0 38px 0;font-size:16px;color:#35a6dd;line-height:16px}
.cont_h2{float:left;padding:46px 0 20px 0}
.cont_operation_rigth{float:right;padding-top:36px}
.sup_details_td1{background-color:#eef9ff;font-size:13px;color:#888;line-height:43px;text-align:right;width:140px;border:1px #cddee7 solid;padding-right:10px}
.sup_details_td2,.sup_details_td3{width:392px;padding-left:10px;font-size:14px;color:#555;line-height:43px;border:1px #cddee7 solid}
.sup_details_td3{width:942px}
.purchase_list table,.purchase_list2 table{padding-bottom:170px}
.purchase_list2{float:left}
.purchase_list3{float:right}
.tuihuo{padding-top:45px;padding-bottom:30px}
.tuihuo div{float:left;padding-right:26px;font-size:13px;line-height:36px;color:#3d3d3d}
.tuihuo span{color:red}
.tuihuo_guanlian{position:relative}
.tuihuo input,.tuihuo select{width:236px;height:36px;padding-right:26px;border:1px #c2c2c2 solid;border-radius:3px;text-indent:10px;margin-left:10px}
.tuihuo select{color:#a4afbb}
.tuihuo img{position:absolute;top:5px;left:312px}
.relevance_list{border-bottom:1px #e5e5e5 solid}
.relevance_affirm a{display:block;float:left;margin:30px 30px 230px 0}
.relevance_affirm1{width:113px;height:38px;border-radius:5px;background-color:#29a4e0;color:#fff;border:none;font-size:14px;color:#fff;text-align:center;line-height:38px}
.relevance_affirm2{width:113px;height:38px;border-radius:5px;background-color:#fff;color:#585757;border:1px #bfbfbf solid;font-size:14px;color:#585757;text-align:center;line-height:38px}
.operate1{height:77px;background-color:#fff;margin-top:4px}
.search_high{display:none;width:100%;position:absolute;background-color:#fff;z-index:999;font-size:13px;color:grey;line-height:18px}
.shadow{width:100%;height:4px;background-image:url(../images/shadow.png);background-repeat:repeat-x}
.search_high_h{display:inherit;font-size:18px;color:#323333;line-height:18px;padding:33px 0 36px}
.search_high ul{float:left;padding-right:45px}
.search_high ul li{padding-bottom:16px}
.search_high span{display:inherit;padding-right:10px;float:left;width:60px;text-align:right;line-height:38px}
.search_high_time{display:block;width:338px;height:38px;border:1px #b4cad5 solid;border-radius:5px;margin-left:70px;font-size:13px;color:grey;line-height:38px}
.search_high_time a{font-size:13px;color:grey;line-height:38px;margin:0 22px 0}
.search_high_inp{width:338px;height:38px;border:1px #b4cad5 solid;border-radius:5px;font-size:13px;color:grey;line-height:38px;text-indent:10px}
.search_high_oper{padding:20px 0 22px 70px}
.sesrch_high_cancel,.sesrch_high_ture{display:block;float:left;width:98px;height:36px;margin-right:22px;background-color:#52afdb;font-size:14px;text-align:center;line-height:36px;color:#fff;border-radius:5px}
.sesrch_high_cancel{border:1px #cdcdcd solid;color:#4f4f4f;background-color:#fff}
.sesrch_high_none{line-height:36px}
.return{height:34px;padding-top:13px;margin-bottom:4px}
.return div{float:left;padding-left:15px;font-size:14px;color:#333;line-height:20px}
.screen1{float:left}
.back3{height:30px;padding:17px 0 0 16px;background-color:#fff;margin-bottom:1px}
.back3 div{float:left;padding-left:15px;font-size:16px;color:#333;line-height:16px}
.return_state{height:28px;padding:24px 0 0 30px;border-bottom:1px #eaeaea solid}
.state_left{font-size:14px;color:#5e5e5e;float:left}
.state_right{float:right}
.state_right a{font-size:13px;color:#6f6f6f}
.state_right img{padding-right:6px;vertical-align:middle;padding-bottom:5px}
.state_right div{float:right;padding-right:24px}
.return_xiang{padding-left:30px}
.xiang_tt span{padding-right:45px;font-size:13px;color:#3d3d3d;line-height:72px;ne-height:72px}
.return_xiang_td,.ruku_td{background-color:#7bc8ed;height:43px;border:1px #a3d9f2 solid;font-size:13px;color:#fff;text-align:center}
.ruku_td{background-color:#cedee6;border-color:#dde8ee;color:#343434}
.ruku_td2{width:68px;height:28px;border:1px #bccdd5 solid;font-size:13px;color:#555;border-radius:3px;margin-right:8px;text-align:center}
.return_xiang_td1{height:48px;border:1px #e5e5e5 solid;font-size:13px;text-align:center;color:#555}
.total_tt{float:right;text-align:right;font-size:14px;color:#747474;line-height:30px}
.total_mun{padding:0 84px 0 60px;float:right;text-align:right;font-size:14px;color:#747474;line-height:30px}
.total_mun2{padding:0 84px 0 5px;float:right;text-align:left;font-size:14px;color:#747474;line-height:30px}
.xiang_tt2{padding-top:36px;font-size:13px;color:#5e5e5e;line-height:13px}
.xiang_tt2_left{float:left}
.xiang_tt2_left div,.xiang_tt2_right div{padding-bottom:22px}
.left1{float:left;width:70px;text-align:right}
.left2{width:360px;float:left;text-align:left}
.log{padding-left:40px}
.log div{float:left}
.log_tt{font-size:13px;color:#5e5e5e;line-height:13px}
.log table{padding-top:20px;padding-bottom:270px}
.log_td1{height:45px;padding-left:32px;background-color:#d7ebf5;font-size:13px;color:#556c77;line-height:13px}
.log_td2{padding-left:32px;height:46px;border-bottom:1px #d7ebf5 solid;color:#556c77;font-size:13px}
.temp_tt{float:left}
.temp{float:left;margin:2px 0 0 4px}
.add_btn{display:block;width:104px;height:34px;font-size:13px;color:#fff;line-height:34px;text-align:center;background-color:#ffa200;border-radius:5px}
.purchase_add_choice{padding-left:15px}
.add_choice_1{padding-top:20px}
.add_choice_1 div{float:left;font-size:16px;color:#5e5e5e;line-height:16px}
.add_choice_1 span{vertical-align:middle}
.choice_1_img{padding-right:16px;margin-right:6px;background:url(../images/checkbox_pre2.gif) no-repeat 0 0}
.choice_2_img{padding-right:16px;margin-right:6px;background:url(../images/checkbox2.gif) no-repeat 0 0}
.add_choice_2 div,.add_choice_3 div{float:left;font-size:13px;color:#3d3d3d;line-height:13px}
.add_choice_2,.add_choice_3{float:left}
.add_choice_2_left{padding-right:30px}
.add_choice_2_input,.add_choice_2_input1{width:236px;height:32px;border:1px #c2c2c2 solid;border-radius:5px;padding-left:14px;margin-left:6px;font-size:13px;color:#898989}
.add_choice_2_input1{width:252px;height:34px}
.add_choice_2{padding-top:24px}
.add_choice_2_check{padding-right:30px;color:#add_choice_2_check}
.add_choice_2_check{padding-top:8px;float:left;font-size:13px;color:#8f8f8f;line-height:18px}
.choice_3_img{padding-left:45px;padding-bottom:5px;background:url(../images/checkbox2.png) no-repeat 20px 0}
.choice_4_img{padding-left:45px;padding-bottom:5px;background:url(../images/checkbox2_pre.png) no-repeat 20px 0}
.choice_5_img{padding-left:20px;padding-bottom:1px;background:url(../images/checkbox2.png) no-repeat 0 0}
.choice_6_img{padding-left:20px;padding-bottom:1px;background:url(../images/checkbox2_pre.png) no-repeat 0 0}
.add_choice_2_check div{padding-right:8px}
.add_td1{height:43px;background-color:#7bc8ed;font-size:13px;color:#fff;line-height:43px;border-right:1px #a3d9f2 solid;text-align:center}
.add_td2,.add_td3{height:48px;border:1px #e5e5e5 solid;font-size:13px;color:#555;line-height:48px;text-align:center}
.add_td3{border-right:none;border-left:none;position:relative}
.purchase_table{padding-top:30px}
.add_td2 a{display:block;width:50%;height:10px;float:left}
.add_td4{width:130px;height:30px;border:1px #c8c8c8 solid;border-radius:4px;text-align:center}
.add_more{float:left;position:absolute;top:1px;right:0}
.add_other,.add_pay{float:right}
.add_other{padding:17px 15px 5px 0;font-size:13px;color:#6a6a6a;line-height:34px}
.add_other div{padding-bottom:5px}
.add_xiang{padding-top:30px;font-size:13px;color:#5e5e5e}
.add_xiang ul li{padding-bottom:20px}
.add_xiang ul li input,.add_xiang ul li select{width:334px;height:40px;border:1px #c8c8c8 solid;border-radius:4px;padding-left:20px;font-size:13px;color:#a5a5a5;line-height:34px}
.add_xing_tt{float:left;width:90px;text-align:right;padding-right:20px;line-height:40px}
.add_pur_way div{float:left;padding-right:18px;padding-top:5px;line-height:30px}
.add_xiang ul{float:left}
.li2{position:relative}
.add_pur_way{padding-right:15px;line-height:40px}
.add_pur_way span{padding-left:5px;vertical-align:middle}
.add_pur_way img{vertical-align:middle}
.purchase_pro{height:34px;width:110px;border:1px #d7d7d7 solid;border-radius:5px;text-align:center}
.purchase_affirm{padding-left:110px}
.purchase_affirm2{padding-left:20px}
.provider_cont{margin-bottom:50px;}
.purchase_affirm3{padding:10px 0px;position:fixed;bottom:0px;background:#fff;z-index:99;width:100%;}
.purchase_xiang{padding-top:13px;height:39px;border-bottom:1px #d5d5d5 solid}
.purchase_class{float:left}
.purchase_class div{width:116px;float:left;margin-right:44px;font-size:14px;color:#5e5e5e;line-height:38px;text-align:center}
.purchase_order{border-bottom:2px #7bc8ed solid}
.ruku a{display:block;width:96px;height:33px;font-size:13px;color:#fff;background-color:#ffb414;line-height:33px;text-align:center;border-radius:5px}
.derive{padding-top:12px}
.purchase_xiang_tt1{padding-top:20px}
.purchase_xiang_tt1 span{padding-right:45px;font-size:13px;color:#3d3d3d;line-height:41px}
.purchase_xiang_tt2,.purchase_xiang_tt3{height:63px;background-color:#fff5d8;padding-left:18px;font-size:16px;color:#3d3d3d;line-height:63px;margin-bottom:15px}
.purchase_xiang_tt2 span,.purchase_xiang_tt3 span{padding-right:27px}
.ruku_cancel,.ruku_record,.ruku_wait{border:1px #dbdbdb solid}
.ruku_cancel,.ruku_record{margin-top:20px}
.ruku_nam_left{width:153px;height:37px;float:left;margin-top:21px;padding-left:13px;background-image:url(../images/ruku_bg.png);background-repeat:no-repeat;font-size:14px;color:#fff;line-height:37px}
.ruku_nam_left img{padding-right:5px;vertical-align:middle}
.ruku_nam_right img{float:right;margin:30px 50px 0 0;transition:.2s;}
.ruku_search{padding-top:28px}
.ruku_search_left{float:left;width:346px;font-size:13px;color:#3d3d3d;line-height:34px;padding-left:30px;padding-bottom:15px}
.ruku_search_left2{float:left}
.ruku_search_right{float:right;font-size:14px;color:#646464;line-height:50px;padding-right:20px}
.ruku_search_right div{float:left;padding-right:28px;font-size:14px;color:#646464;line-height:33px}
.ruku_search_right a{display:block;width:96px;height:33px;background-color:#ffb414;font-size:13px;color:#fff;line-height:33px;text-align:center;border-radius:3px}
.ruku_wait_tt{padding-top:42px}
.ruku_wait_tt ul{float:left;padding-right:136px}
.ruku_wait_tt ul li{padding-bottom:12px}
.ruku_wait_tt1{float:left;width:90px;padding-right:24px;text-align:right;font-size:13px;color:#5e5e5e;line-height:40px}
.ruku_wait_input,.ruku_wait_textarea{width:352px;height:40px;border:1px #c8c8c8 solid;border-radius:4px;text-indent:14px;font-size:13px;color:#565656;line-height:40px}
.ruku_wait_textarea{width:660px;height:94px;}
.ruku_wait_tt2{padding-left:37px}
.ruku_wait_tt2 span{font-size:13px;color:#6e797f;line-height:40px;padding-right:48px}
.ruku_record_right{float:right}
.ruku_record_right div{float:right;padding-right:40px}
.ruku_record_right a{font-size:13px;color:#6f6f6f}
.ruku_record_right img{padding-right:6px;vertical-align:middle;padding-bottom:5px}
.ruku_record_tt2{padding:20px 0 24px 37px;border-bottom:1px #e5e5e5 solid}
.ruku_record_tt2 span{font-size:13px;color:#555;line-height:30px;padding-right:48px}
.ruku_bottom{padding-bottom:80px}
.ruku_popup{width:530px;background-color:#fff;border-radius:6px;margin:300px auto;z-index:999}
.ruku_popup_h{height:45px;border-radius:5px 5px 0 0;background-color:#4b81b9;font-size:16px;color:#fff;line-height:45px;text-indent:20px;margin-bottom:18px}
.ruku_popup_tt{font-size:13px;color:#5b5b5b;line-height:40px;padding-left:38px;margin:0 20px 0 12px;border-bottom:1px #e4ebf0 solid}
.ruku_popup_tt1{font-size:15px;color:#5b5b5b;text-align:center;line-height:150px;border-bottom:1px #e4ebf0 solid}
.ruku_popup_texta{width:440px;height:82px;border:1px #cdcdcd solid;font-size:13px;color:#c6c6c6;line-height:40px;text-indent:14px;margin-bottom:18px;border-radius:3px}
.ruku_popup_oper{padding:15px 0;float:right}
.ruku_popup_cancel,.ruku_popup_ture{float:left;width:100px;height:38px;display:block;font-size:13px;color:#fff;line-height:40px;text-align:center;background-color:#f6ac0e;margin-right:17px;border-radius:3px}
.ruku_popup_cancel{border:1px #cbcbcb solid;color:#717171;background-color:#fff}
.popup{display:none}
.yuandian_xx{width:100px;}
.spshoufahuizong_1{padding:15px 0;width:98%;margin:0 auto}
.spshoufahuizong_1 ul li{float:left;width:24%;margin-right:1%;height:116px;text-align:center;font-size:16px;color:#fff}
.spshoufahuizong_1 ul li h2{font-size:30px;color:#fff;padding-bottom:15px;padding-top:30px}
.spshoufahuizong_1_bj1{background-color:#ff8382}
.spshoufahuizong_1_bj2{background-color:#52ade6}
.spshoufahuizong_1_bj3{background-color:#af99e8}
.spshoufahuizong_1_bj4{background-color:#feaaa1}
.kh_addkehu_1_up_01{width:18px;height:18px;display:inline-block;background-image:url(../images/biao_23.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle;margin-left:10px;margin-right:6px}
.kh_addkehu_1_up_02{width:18px;height:18px;display:inline-block;background-image:url(../images/xuanz.png);background-position:left center;background-repeat:no-repeat;vertical-align:middle;margin-left:10px;margin-right:6px}
.kh_addkehu_1_down{width:100%}
.kh_addkehu_1_down ul li{margin-bottom:13px}
.kh_addkehu_1_down_title{width:8%;float:left;text-align:right;line-height:40px;font-size:14px;color:#555}
.kh_addkehu_1_down_title span{color:red;vertical-align:sub;margin-right:5px}
.kh_addkehu_1_down_right{width:auto;float:left;padding-left:15px;line-height:40px;font-size:12px;color:#ff6d6d}
.kh_addkehu_1_down_right1{width:613px;height:38px;border-radius:5px}
.kh_addkehu_1_down_right1_input{width:600px;height:38px;padding-left:10px;background:0 0;line-height:38px;font-size:14px;color:#555}
.kh_addkehu_1_down_right1_left{width:570px;float:left}
.kh_addkehu_1_down_right1_left input{width:560px;height:38px;padding-left:10px;line-height:38px;font-size:14px;color:#555}
.kh_addkehu_1_down_right1_right{width:35px;float:right;padding-top:11px}
.mimaguize{width:100%;padding-top:8px}
.mimaguize_01{height:23px}
.mimaguize_01 span{width:124px;height:23px;display:inline-block;margin-right:1px;text-align:center;line-height:23px;font-size:13px;color:#fff}
.kh_bianjikehu_1_down_left{width:15%;float:left;text-align:right;line-height:40px;font-size:14px;color:#555}
.kh_bianjikehu_1_down_left span{color:red;vertical-align:sub;margin-right:5px}
.kh_bianjikehu_1_down_right{width:75%;float:left;padding-left:3%;position:relative;line-height:40px;font-size:14px;color:#555}
.kh_bianjikehu_1_down_right_input{width:96%;height:38px;border:#c8c8c8 1px solid;border-radius:5px;line-height:38px;padding-left:2%}
.kh_bianjikehu_1_down_right1{width:28%;float:left;padding-left:3%;position:relative}
.kh_bianjikehu_1_down_right1_input{width:96%;height:38px;border:#c8c8c8 1px solid;border-radius:5px;line-height:38px;padding-left:2%}
.kh_bianjikehu_1_down ul li {width:50%;margin-bottom:13px;}
.kh_bianjikehu_zhanghao{padding-top:10px;}
.kh_bianjikehu_zhanghao a{font-size:14px;color:#555555;margin-right:20px;}